In [1]:
import numpy as np
import numpy.ma as ma
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split

In [2]:
user_train = pd.read_csv('user_train.csv')
item_train = pd.read_csv('item_train.csv')

In [3]:
user_train.head(10)

,user_id,overall_score,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,Drama,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
1,0,6.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
2,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
3,0,7.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
4,0,8.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
5,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
6,0,8.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
7,0,8.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
8,0,8.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
9,0,6.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0

In [4]:
item_train.head(10)

,drama_name,kdrama_id,pop,rank,Action,Adult,Adventure,Anime,Comedy,Crime,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,Sing My Crush,1.0,2238.0,1484.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,Happy Merry Ending,32.0,1366.0,7632.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,Our Dating Sim,51.0,569.0,2185.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,The Director Who Buys Me Dinner,80.0,679.0,6529.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Unlock My Boss,84.0,1088.0,2117.0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
5,Roommates of Poongduck 304,114.0,570.0,2870.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
6,The Golden Spoon,127.0,658.0,1903.0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
7,Big Mouth,150.0,163.0,395.0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
8,Blueming,203.0,367.0,1715.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9,Grid,223.0,1195.0,5507.0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0

<h2> Switch kdrama_id and drama_name Columns </h2>

In [5]:
cols = item_train.columns.tolist()
cols[0], cols[1] = cols[1], cols[0]
item_train = item_train[cols]

In [6]:
item_train.head(10)

,kdrama_id,drama_name,pop,rank,Action,Adult,Adventure,Anime,Comedy,Crime,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,1.0,Sing My Crush,2238.0,1484.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,32.0,Happy Merry Ending,1366.0,7632.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,51.0,Our Dating Sim,569.0,2185.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,80.0,The Director Who Buys Me Dinner,679.0,6529.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,84.0,Unlock My Boss,1088.0,2117.0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
5,114.0,Roommates of Poongduck 304,570.0,2870.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
6,127.0,The Golden Spoon,658.0,1903.0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
7,150.0,Big Mouth,163.0,395.0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
8,203.0,Blueming,367.0,1715.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9,223.0,Grid,1195.0,5507.0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0

In [7]:
y_train = user_train['overall_score']

In [8]:
type(y_train)

pandas.core.series.Series

In [9]:

item = item_train
item_train = item_train.drop(['kdrama_id', 'drama_name'],axis = 1)

In [10]:
user = user_train
user_train = user_train.drop(['user_id', 'overall_score'], axis =1)

<h2> Scale training Data </h2>

In [11]:

item_train_unscaled = item_train
user_train_unscaled = user_train
y_train_unscaled    = y_train

scalerItem = StandardScaler()
scalerItem.fit(item_train)
item_train = scalerItem.transform(item_train)

scalerUser = StandardScaler()
scalerUser.fit(user_train)
user_train = scalerUser.transform(user_train)

scalerTarget = MinMaxScaler((-1, 1))
scalerTarget.fit(y_train.values.reshape(-1, 1))
y_train = scalerTarget.transform(y_train.values.reshape(-1, 1))

In [12]:
print(np.allclose(item_train_unscaled, scalerItem.inverse_transform(item_train)))
print(np.allclose(user_train_unscaled, scalerUser.inverse_transform(user_train)))

True
True

In [13]:
item_train, item_test = train_test_split(item_train, train_size=0.80, shuffle=True, random_state=1)
user_train, user_test = train_test_split(user_train, train_size=0.80, shuffle=True, random_state=1)
y_train, y_test       = train_test_split(y_train,    train_size=0.80, shuffle=True, random_state=1)
print(f"movie/item training data shape: {item_train.shape}")
print(f"movie/item test data shape: {item_test.shape}")

movie/item training data shape: (7798, 34)
movie/item test data shape: (1950, 34)

In [14]:
num_user_features = user_train.shape[1]
num_item_features = item_train.shape[1]

In [15]:
num_outputs = 32
tf.random.set_seed(1)
user_NN = tf.keras.models.Sequential([
    tf.keras.layers.Dense(256, activation = 'relu'),
    tf.keras.layers.Dense(128, activation = 'relu'),
    tf.keras.layers.Dense(num_outputs, activation = 'linear'),
  
  
])

item_NN = tf.keras.models.Sequential([
    tf.keras.layers.Dense(256, activation = 'relu'),
    tf.keras.layers.Dense(128, activation = 'relu'),
    tf.keras.layers.Dense(num_outputs, activation = 'linear'),
  
  
])

input_user = tf.keras.layers.Input(shape=(num_user_features))
vu = user_NN(input_user)
vu = tf.linalg.l2_normalize(vu, axis=1)

input_item = tf.keras.layers.Input(shape=(num_item_features))
vm = item_NN(input_item)
vm = tf.linalg.l2_normalize(vm, axis=1)

output = tf.keras.layers.Dot(axes=1)([vu, vm])

model = tf.keras.Model([input_user, input_item], output)

model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 input_1 (InputLayer)        [(None, 32)]                 0         []

 input_2 (InputLayer)        [(None, 34)]                 0         []

 sequential (Sequential)     (None, 32)                   45472     ['input_1[0][0]']

 sequential_1 (Sequential)   (None, 32)                   45984     ['input_2[0][0]']

 tf.math.l2_normalize (TFOp  (None, 32)                   0         ['sequential[0][0]']
 Lambda)

 tf.math.l2_normalize_1 (TF  (None, 32)                   0         ['sequential_1[0][0]']
 OpLambda)

 dot (Dot)                   (None, 1)                    0         ['tf.math.l2_normalize[0][0]',
                                                                     'tf.math.l2_normalize_1[0][0]
                                                                    ']

==================================================================================================
Total params: 91456 (357.25 KB)
Trainable params: 91456 (357.25 KB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

In [16]:
tf.random.set_seed(1)
cost_fn = tf.keras.losses.MeanSquaredError()
opt = tf.keras.optimizers.legacy.Adam(learning_rate=0.01)
model.compile(optimizer=opt,
              loss=cost_fn)

In [17]:
tf.random.set_seed(1)
model.fit([user_train, item_train], y_train, epochs=100)

Epoch 1/100
244/244 [==============================] - 0s 916us/step - loss: 0.1230
Epoch 2/100
244/244 [==============================] - 0s 998us/step - loss: 0.0950
Epoch 3/100
244/244 [==============================] - 0s 976us/step - loss: 0.0827
Epoch 4/100
244/244 [==============================] - 0s 991us/step - loss: 0.0785
Epoch 5/100
244/244 [==============================] - 0s 967us/step - loss: 0.0744
Epoch 6/100
244/244 [==============================] - 0s 995us/step - loss: 0.0716
Epoch 7/100
244/244 [==============================] - 0s 971us/step - loss: 0.0689
Epoch 8/100
244/244 [==============================] - 0s 968us/step - loss: 0.0666
Epoch 9/100
244/244 [==============================] - 0s 986us/step - loss: 0.0640
Epoch 10/100
244/244 [==============================] - 0s 989us/step - loss: 0.0623
Epoch 11/100
244/244 [==============================] - 0s 968us/step - loss: 0.0599
Epoch 12/100
244/244 [==============================] - 0s 977us/step - loss: 0.0583
Epoch 13/100
244/244 [==============================] - 0s 982us/step - loss: 0.0575
Epoch 14/100
244/244 [==============================] - 0s 992us/step - loss: 0.0558
Epoch 15/100
244/244 [==============================] - 0s 976us/step - loss: 0.0549
Epoch 16/100
244/244 [==============================] - 0s 970us/step - loss: 0.0540
Epoch 17/100
244/244 [==============================] - 0s 975us/step - loss: 0.0532
Epoch 18/100
244/244 [==============================] - 0s 981us/step - loss: 0.0518
Epoch 19/100
244/244 [==============================] - 0s 984us/step - loss: 0.0505
Epoch 20/100
244/244 [==============================] - 0s 976us/step - loss: 0.0496
Epoch 21/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0492
Epoch 22/100
244/244 [==============================] - 0s 966us/step - loss: 0.0481
Epoch 23/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0469
Epoch 24/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0465
Epoch 25/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0467
Epoch 26/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0451
Epoch 27/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0450
Epoch 28/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0439
Epoch 29/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0430
Epoch 30/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0428
Epoch 31/100
244/244 [==============================] - 0s 992us/step - loss: 0.0421
Epoch 32/100
244/244 [==============================] - 0s 983us/step - loss: 0.0410
Epoch 33/100
244/244 [==============================] - 0s 976us/step - loss: 0.0409
Epoch 34/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0400
Epoch 35/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0395
Epoch 36/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0390
Epoch 37/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0385
Epoch 38/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0377
Epoch 39/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0378
Epoch 40/100
244/244 [==============================] - 0s 995us/step - loss: 0.0370
Epoch 41/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0362
Epoch 42/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0358
Epoch 43/100
244/244 [==============================] - 0s 972us/step - loss: 0.0354
Epoch 44/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0352
Epoch 45/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0345
Epoch 46/100
244/244 [==============================] - 0s 996us/step - loss: 0.0340
Epoch 47/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0336
Epoch 48/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0329
Epoch 49/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0328
Epoch 50/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0323
Epoch 51/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0320
Epoch 52/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0317
Epoch 53/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0310
Epoch 54/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0309
Epoch 55/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0308
Epoch 56/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0301
Epoch 57/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0302
Epoch 58/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0297
Epoch 59/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0294
Epoch 60/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0291
Epoch 61/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0289
Epoch 62/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0283
Epoch 63/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0286
Epoch 64/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0281
Epoch 65/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0276
Epoch 66/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0275
Epoch 67/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0270
Epoch 68/100
244/244 [==============================] - 0s 991us/step - loss: 0.0271
Epoch 69/100
244/244 [==============================] - 0s 999us/step - loss: 0.0264
Epoch 70/100
244/244 [==============================] - 0s 966us/step - loss: 0.0270
Epoch 71/100
244/244 [==============================] - 0s 987us/step - loss: 0.0267
Epoch 72/100
244/244 [==============================] - 0s 980us/step - loss: 0.0263
Epoch 73/100
244/244 [==============================] - 0s 962us/step - loss: 0.0258
Epoch 74/100
244/244 [==============================] - 0s 976us/step - loss: 0.0256
Epoch 75/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0258
Epoch 76/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0251
Epoch 77/100
244/244 [==============================] - 0s 971us/step - loss: 0.0253
Epoch 78/100
244/244 [==============================] - 0s 970us/step - loss: 0.0251
Epoch 79/100
244/244 [==============================] - 0s 964us/step - loss: 0.0249
Epoch 80/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0247
Epoch 81/100
244/244 [==============================] - 0s 978us/step - loss: 0.0247
Epoch 82/100
244/244 [==============================] - 0s 969us/step - loss: 0.0245
Epoch 83/100
244/244 [==============================] - 0s 962us/step - loss: 0.0242
Epoch 84/100
244/244 [==============================] - 0s 985us/step - loss: 0.0242
Epoch 85/100
244/244 [==============================] - 0s 972us/step - loss: 0.0240
Epoch 86/100
244/244 [==============================] - 0s 968us/step - loss: 0.0239
Epoch 87/100
244/244 [==============================] - 0s 973us/step - loss: 0.0237
Epoch 88/100
244/244 [==============================] - 0s 995us/step - loss: 0.0237
Epoch 89/100
244/244 [==============================] - 0s 992us/step - loss: 0.0232
Epoch 90/100
244/244 [==============================] - 0s 981us/step - loss: 0.0230
Epoch 91/100
244/244 [==============================] - 0s 964us/step - loss: 0.0234
Epoch 92/100
244/244 [==============================] - 0s 966us/step - loss: 0.0232
Epoch 93/100
244/244 [==============================] - 0s 978us/step - loss: 0.0227
Epoch 94/100
244/244 [==============================] - 0s 971us/step - loss: 0.0227
Epoch 95/100
244/244 [==============================] - 0s 981us/step - loss: 0.0228
Epoch 96/100
244/244 [==============================] - 0s 976us/step - loss: 0.0226
Epoch 97/100
244/244 [==============================] - 0s 985us/step - loss: 0.0224
Epoch 98/100
244/244 [==============================] - 0s 974us/step - loss: 0.0222
Epoch 99/100
244/244 [==============================] - 0s 988us/step - loss: 0.0221
Epoch 100/100
244/244 [==============================] - 0s 986us/step - loss: 0.0218

In [18]:
model.evaluate([user_test, item_test], y_test)

61/61 [==============================] - 0s 444us/step - loss: 0.0885

0.08852142840623856

<h2> Predict ratings for Old User </h2>

In [19]:
user.head()

,user_id,overall_score,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,Drama,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
1,0,6.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
2,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
3,0,7.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
4,0,8.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0

In [20]:
uid = 0
user_vecs = user[user['user_id']== uid]

y_vecs = user_vecs['overall_score']
user_vecs = user_vecs.drop(['user_id', 'overall_score'], axis = 1)
y_vecs.head(30)

0     9.0
1     6.5
2     9.0
3     7.0
4     8.5
5     9.0
6     8.0
7     8.5
8     8.5
9     6.5
10    9.0
11    9.0
12    6.5
13    8.5
14    8.0
15    8.0
16    7.0
17    8.0
18    6.5
19    8.0
20    9.0
21    8.0
Name: overall_score, dtype: float64

In [21]:
user_vecs.head(30)

,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,Drama,Espionage,Family,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
1,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
2,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
3,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
4,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
6,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
7,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
8,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
9,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
10,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
11,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
12,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
13,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
14,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
15,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
16,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
17,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
18,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
19,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
20,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
21,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0

In [22]:
item.head()

,kdrama_id,drama_name,pop,rank,Action,Adult,Adventure,Anime,Comedy,Crime,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,1.0,Sing My Crush,2238.0,1484.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,32.0,Happy Merry Ending,1366.0,7632.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,51.0,Our Dating Sim,569.0,2185.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,80.0,The Director Who Buys Me Dinner,679.0,6529.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,84.0,Unlock My Boss,1088.0,2117.0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0

In [23]:
index_u = user_vecs.index.tolist()
item_vecs = item.iloc[index_u[0]:index_u[-1]+1,2:]
item_vecs.head(23)

,pop,rank,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,Drama,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,2238.0,1484.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,1366.0,7632.0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
2,569.0,2185.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,679.0,6529.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,1088.0,2117.0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
5,570.0,2870.0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
6,658.0,1903.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
7,163.0,395.0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
8,367.0,1715.0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
9,1195.0,5507.0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,1,0,0,0
10,148.0,1241.0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
11,79.0,122.0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
12,94.0,509.0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
13,345.0,341.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,171.0,423.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
15,100.0,81.0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,659.0,7633.0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
17,239.0,562.0,0,0,0,0,1,0,0,1,...,0,0,1,0,0,0,0,0,0,0
18,372.0,1413.0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
19,521.0,7137.0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
20,152.0,2300.0,0,0,0,0,1,0,0,1,...,0,0,1,0,0,0,0,0,0,0
21,19.0,595.0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [24]:





# scale our user and item vectors
suser_vecs = scalerUser.transform(user_vecs)
sitem_vecs = scalerItem.transform(item_vecs)

# make a prediction
y_p = model.predict([suser_vecs, sitem_vecs])

# unscale y prediction 
y_pu = scalerTarget.inverse_transform(y_p)


#

1/1 [==============================] - 0s 45ms/step

In [25]:
print(y_pu)

[[9.260554 ]
 [6.9539175]
 [9.278091 ]
 [7.5131693]
 [7.873319 ]
 [8.519068 ]
 [8.621174 ]
 [9.1474085]
 [8.992289 ]
 [6.9413376]
 [9.267126 ]
 [8.700734 ]
 [6.9225636]
 [8.499731 ]
 [7.9670873]
 [8.149097 ]
 [7.2069254]
 [9.168648 ]
 [6.641156 ]
 [7.729802 ]
 [8.60438  ]
 [7.7259035]]

In [26]:
# sort the results, highest prediction first
sorted_index = np.argsort(-y_pu,axis=0).reshape(-1).tolist()  
sorted_ypu   = y_pu[sorted_index]
v = item[['kdrama_id','drama_name']].iloc[index_u[0]:index_u[-1]+1,:]
sorted_items = v.reset_index(drop= True).iloc[sorted_index]
sorted_user  = user.iloc[sorted_index]


sorted_y = y_vecs.reset_index(drop = True).iloc[sorted_index]

In [27]:
type(sorted_ypu)
sorted_ypred = pd.DataFrame(sorted_ypu)
sorted_ypred.head(10)

          0
0  9.278091
1  9.267126
2  9.260554
3  9.168648
4  9.147408
5  8.992289
6  8.700734
7  8.621174
8  8.604380
9  8.519068

In [28]:

out = pd.concat([sorted_items, sorted_y], axis=1)
out['prediction_score'] = sorted_ypred.values

In [29]:
out.head(30)

,kdrama_id,drama_name,overall_score,prediction_score
2,51.0,Our Dating Sim,9.0,9.278091
10,224.0,Semantic Error,9.0,9.267126
0,1.0,Sing My Crush,9.0,9.260554
17,300.0,Dali and the Cocky Prince,8.0,9.168648
7,150.0,Big Mouth,8.5,9.147408
8,203.0,Blueming,8.5,8.992289
11,225.0,Twenty-Five Twenty-One,9.0,8.700734
6,127.0,The Golden Spoon,8.0,8.621174
20,496.0,Where Your Eyes Linger,9.0,8.604380
5,114.0,Roommates of Poongduck 304,9.0,8.519068
13,236.0,Ghost Doctor,8.5,8.499731
15,276.0,Happiness,8.0,8.149097
14,247.0,Bad and Crazy,8.0,7.967087
4,84.0,Unlock My Boss,8.5,7.873319
19,442.0,The School Nurse Files,8.0,7.729802
21,540.0,Itaewon Class,8.0,7.725904
3,80.0,The Director Who Buys Me Dinner,7.0,7.513169
16,287.0,My Sweet Dear,7.0,7.206925
1,32.0,Happy Merry Ending,6.5,6.953918
9,223.0,Grid,6.5,6.941338
12,229.0,All of Us Are Dead,6.5,6.922564
18,310.0,Lovers of the Red Sky,6.5,6.641156

<h2>Prediction on New User</h2>

In [31]:
drama_vecs = item.drop_duplicates(subset=['drama_name'])

In [34]:
drama_vecs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1104 entries, 0 to 9570
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   kdrama_id        1104 non-null   float64
 1   drama_name       1104 non-null   object
 2   pop              1104 non-null   float64
 3   rank             1104 non-null   float64
 4   Action           1104 non-null   int64
 5   Adult            1104 non-null   int64
 6   Adventure        1104 non-null   int64
 7   Anime            1104 non-null   int64
 8   Comedy           1104 non-null   int64
 9   Crime            1104 non-null   int64
 10  DIY              1104 non-null   int64
 11  Drama            1104 non-null   int64
 12  Espionage        1104 non-null   int64
 13  Family           1104 non-null   int64
 14  Fantasy          1104 non-null   int64
 15  Food             1104 non-null   int64
 16  Friendship       1104 non-null   int64
 17  Historical       1104 non-null   int64
 18  History          1104 non-null   int64
 19  Horror           1104 non-null   int64
 20  Law              1104 non-null   int64
 21  Legal            1104 non-null   int64
 22  Life             1104 non-null   int64
 23  Medical          1104 non-null   int64
 24  Military         1104 non-null   int64
 25  Music            1104 non-null   int64
 26  Mystery          1104 non-null   int64
 27  Psychological    1104 non-null   int64
 28  Romance          1104 non-null   int64
 29  Science-Fiction  1104 non-null   int64
 30  Sports           1104 non-null   int64
 31  Supernatural     1104 non-null   int64
 32  Thriller         1104 non-null   int64
 33  Travel           1104 non-null   int64
 34  War              1104 non-null   int64
 35  Youth            1104 non-null   int64
dtypes: float64(3), int64(32), object(1)
memory usage: 319.1+ KB

<h4>Create New User Vector</h4>

In [60]:
user.head()

,user_id,overall_score,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,Drama,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
1,0,6.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
2,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
3,0,7.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
4,0,8.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0

In [80]:
new_user_vecs = user.iloc[0:1]

In [81]:
new_user_vecs = new_user_vecs*0

In [82]:
new_user_vecs.head()

,user_id,overall_score,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,Drama,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [83]:
new_user_vecs['Romance'] = 10
new_user_vecs['Comedy'] = 9

In [84]:
row_array = new_user_vecs.values
repeated_array = np.tile(row_array, (len(drama_vecs), 1))

In [85]:
new_user_vecs = pd.DataFrame(
    repeated_array, 
    columns=new_user_vecs.columns
)

In [86]:
new_user_vecs = new_user_vecs.drop(['user_id', 'overall_score'], axis = 1)

<h4> Scale and Predict</h4>

In [88]:
snuser_vecs = scalerUser.transform(new_user_vecs)
snitem_vecs = scalerItem.transform(drama_vecs.iloc[:,2:])

In [89]:
y_p = model.predict([snuser_vecs, snitem_vecs])

# unscale y prediction 
y_pu = scalerTarget.inverse_transform(y_p)

35/35 [==============================] - 0s 480us/step

In [99]:

sorted_index = np.argsort(-y_pu,axis=0).reshape(-1).tolist()  
sorted_ypu   = y_pu[sorted_index]
sorted_ypu = pd.DataFrame(sorted_ypu)
sorted_items = drama_vecs.iloc[sorted_index]

In [118]:
result = sorted_items.iloc[:,1:4]

In [119]:
result['ratings'] = sorted_ypu.values

In [124]:
result.head(30)

                           drama_name     pop     rank   ratings
1535         So I Married an Anti-Fan   185.0   2233.0  9.763997
588   The Secret Life of My Secretary   154.0   1978.0  9.763444
1850                 Introverted Boss   109.0   3305.0  9.754518
949                      Devilish Joy   446.0   2621.0  9.737233
402                Revolutionary Love   519.0   5940.0  9.733800
4525                              Mom  9706.0  48334.0  9.728479
637         Something About 1 Percent   204.0   1342.0  9.724635
408   Moon Lovers: Scarlet Heart Ryeo    16.0    223.0  9.709452
2607                         Rich Man   554.0   6861.0  9.686914
72                   The New Employee   818.0   6343.0  9.681522
4868                     Twenty Again   637.0   1932.0  9.662462
1020                        The Lover   527.0   5486.0  9.655730
623               Temperature of Love   465.0   5140.0  9.651095
199                   Strangers Again  1150.0   6757.0  9.650083
1010           Matching! Boys Archery  2386.0   7026.0  9.638895
546                      Yumi's Cells   245.0    650.0  9.636087
114                     King the Land   237.0    605.0  9.627983
1402                      I Order You  1476.0   7003.0  9.622624
333           Crash Course in Romance   244.0    585.0  9.621261
1501                      Rookie Cops   504.0    925.0  9.616663
4297                 A Korean Odyssey    56.0   1193.0  9.615252
994                     My Sassy Girl   586.0   3492.0  9.613292
6777                      The Miracle  1051.0   7958.0  9.611225
6556               Ex-Girlfriend Club   920.0   4698.0  9.610167
992                 My Only Love Song   594.0   3414.0  9.609933
1022            Persevere, Goo Hae Ra  1746.0   7009.0  9.607322
171           While You Were Sleeping    11.0    213.0  9.605912
258               A Business Proposal    22.0    244.0  9.605459
972                     Longing Heart  1136.0   3509.0  9.599598
521         20th Century Boy and Girl  1221.0   3014.0  9.594568