In [3]:
import numpy as np
import numpy.ma as ma
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'numpy'

In [5]:
user_train = pd.read_csv('user_train.csv')
item_train = pd.read_csv('item_train.csv')

In [6]:
user_train.head(10)

,user_id,overall_score,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,Drama,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
1,0,6.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
2,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
3,0,7.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
4,0,8.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
5,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
6,0,8.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
7,0,8.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
8,0,8.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
9,0,6.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0

In [7]:
item_train.head(10)

,drama_name,kdrama_id,pop,rank,Action,Adult,Adventure,Anime,Comedy,Crime,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,Sing My Crush,1.0,2238.0,1484.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,Happy Merry Ending,32.0,1366.0,7632.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,Our Dating Sim,51.0,569.0,2185.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,The Director Who Buys Me Dinner,80.0,679.0,6529.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Unlock My Boss,84.0,1088.0,2117.0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
5,Roommates of Poongduck 304,114.0,570.0,2870.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
6,The Golden Spoon,127.0,658.0,1903.0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
7,Big Mouth,150.0,163.0,395.0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
8,Blueming,203.0,367.0,1715.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9,Grid,223.0,1195.0,5507.0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0

<h2> Switch kdrama_id and drama_name Columns </h2>

In [8]:
cols = item_train.columns.tolist()
cols[0], cols[1] = cols[1], cols[0]
item_train = item_train[cols]

In [9]:
item_train.head(10)

,kdrama_id,drama_name,pop,rank,Action,Adult,Adventure,Anime,Comedy,Crime,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,1.0,Sing My Crush,2238.0,1484.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,32.0,Happy Merry Ending,1366.0,7632.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,51.0,Our Dating Sim,569.0,2185.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,80.0,The Director Who Buys Me Dinner,679.0,6529.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,84.0,Unlock My Boss,1088.0,2117.0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
5,114.0,Roommates of Poongduck 304,570.0,2870.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
6,127.0,The Golden Spoon,658.0,1903.0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
7,150.0,Big Mouth,163.0,395.0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
8,203.0,Blueming,367.0,1715.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9,223.0,Grid,1195.0,5507.0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0

In [13]:
y_train = user_train['overall_score']

In [16]:
y_train.head()

0    9.0
1    6.5
2    9.0
3    7.0
4    8.5
Name: overall_score, dtype: float64

<h2> Scale training Data </h2>

In [17]:

item_train_unscaled = item_train
user_train_unscaled = user_train
y_train_unscaled    = y_train

scalerItem = StandardScaler()
scalerItem.fit(item_train)
item_train = scalerItem.transform(item_train)

scalerUser = StandardScaler()
scalerUser.fit(user_train)
user_train = scalerUser.transform(user_train)

scalerTarget = MinMaxScaler((-1, 1))
scalerTarget.fit(y_train.reshape(-1, 1))
y_train = scalerTarget.transform(y_train.reshape(-1, 1))

NameError: name 'StandardScaler' is not defined