In [3]:
import numpy as np
import numpy.ma as ma
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split

In [65]:
user_train = pd.read_csv('user_train.csv')
item_train = pd.read_csv('item_train.csv')

In [66]:
user_train.head(10)

,user_id,overall_score,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,Drama,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
1,0,6.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
2,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
3,0,7.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
4,0,8.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
5,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
6,0,8.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
7,0,8.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
8,0,8.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
9,0,6.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0

In [67]:
item_train.head(10)

,drama_name,kdrama_id,pop,rank,Action,Adult,Adventure,Anime,Comedy,Crime,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,Sing My Crush,1.0,2238.0,1484.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,Happy Merry Ending,32.0,1366.0,7632.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,Our Dating Sim,51.0,569.0,2185.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,The Director Who Buys Me Dinner,80.0,679.0,6529.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Unlock My Boss,84.0,1088.0,2117.0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
5,Roommates of Poongduck 304,114.0,570.0,2870.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
6,The Golden Spoon,127.0,658.0,1903.0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
7,Big Mouth,150.0,163.0,395.0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
8,Blueming,203.0,367.0,1715.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9,Grid,223.0,1195.0,5507.0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0

<h2> Switch kdrama_id and drama_name Columns </h2>

In [68]:
cols = item_train.columns.tolist()
cols[0], cols[1] = cols[1], cols[0]
item_train = item_train[cols]

In [69]:
item_train.head(10)

,kdrama_id,drama_name,pop,rank,Action,Adult,Adventure,Anime,Comedy,Crime,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,1.0,Sing My Crush,2238.0,1484.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,32.0,Happy Merry Ending,1366.0,7632.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,51.0,Our Dating Sim,569.0,2185.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,80.0,The Director Who Buys Me Dinner,679.0,6529.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,84.0,Unlock My Boss,1088.0,2117.0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
5,114.0,Roommates of Poongduck 304,570.0,2870.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
6,127.0,The Golden Spoon,658.0,1903.0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
7,150.0,Big Mouth,163.0,395.0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
8,203.0,Blueming,367.0,1715.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9,223.0,Grid,1195.0,5507.0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0

In [70]:
y_train = user_train['overall_score']

In [71]:
type(y_train)

pandas.core.series.Series

In [72]:

item = item_train
item_train = item_train.drop(['kdrama_id', 'drama_name'],axis = 1)

In [73]:
user = user_train
user_train = user_train.drop(['user_id', 'overall_score'], axis =1)

<h2> Scale training Data </h2>

In [74]:

item_train_unscaled = item_train
user_train_unscaled = user_train
y_train_unscaled    = y_train

scalerItem = StandardScaler()
scalerItem.fit(item_train)
item_train = scalerItem.transform(item_train)

scalerUser = StandardScaler()
scalerUser.fit(user_train)
user_train = scalerUser.transform(user_train)

scalerTarget = MinMaxScaler((-1, 1))
scalerTarget.fit(y_train.values.reshape(-1, 1))
y_train = scalerTarget.transform(y_train.values.reshape(-1, 1))

In [75]:
print(np.allclose(item_train_unscaled, scalerItem.inverse_transform(item_train)))
print(np.allclose(user_train_unscaled, scalerUser.inverse_transform(user_train)))

True
True

In [76]:
item_train, item_test = train_test_split(item_train, train_size=0.80, shuffle=True, random_state=1)
user_train, user_test = train_test_split(user_train, train_size=0.80, shuffle=True, random_state=1)
y_train, y_test       = train_test_split(y_train,    train_size=0.80, shuffle=True, random_state=1)
print(f"movie/item training data shape: {item_train.shape}")
print(f"movie/item test data shape: {item_test.shape}")

movie/item training data shape: (7798, 34)
movie/item test data shape: (1950, 34)

In [78]:
num_user_features = user_train.shape[1]
num_item_features = item_train.shape[1]

In [79]:
num_outputs = 32
tf.random.set_seed(1)
user_NN = tf.keras.models.Sequential([
    ### START CODE HERE ###     
    tf.keras.layers.Dense(256, activation = 'relu'),
    tf.keras.layers.Dense(128, activation = 'relu'),
    tf.keras.layers.Dense(num_outputs, activation = 'linear'),
  
  
    ### END CODE HERE ###  
])

item_NN = tf.keras.models.Sequential([
    ### START CODE HERE ###     
    tf.keras.layers.Dense(256, activation = 'relu'),
    tf.keras.layers.Dense(128, activation = 'relu'),
    tf.keras.layers.Dense(num_outputs, activation = 'linear'),
  
  
    ### END CODE HERE ###  
])

# create the user input and point to the base network
input_user = tf.keras.layers.Input(shape=(num_user_features))
vu = user_NN(input_user)
vu = tf.linalg.l2_normalize(vu, axis=1)

# create the item input and point to the base network
input_item = tf.keras.layers.Input(shape=(num_item_features))
vm = item_NN(input_item)
vm = tf.linalg.l2_normalize(vm, axis=1)

# compute the dot product of the two vectors vu and vm
output = tf.keras.layers.Dot(axes=1)([vu, vm])

# specify the inputs and output of the model
model = tf.keras.Model([input_user, input_item], output)

model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 input_1 (InputLayer)        [(None, 32)]                 0         []

 input_2 (InputLayer)        [(None, 34)]                 0         []

 sequential (Sequential)     (None, 32)                   45472     ['input_1[0][0]']

 sequential_1 (Sequential)   (None, 32)                   45984     ['input_2[0][0]']

 tf.math.l2_normalize (TFOp  (None, 32)                   0         ['sequential[0][0]']
 Lambda)

 tf.math.l2_normalize_1 (TF  (None, 32)                   0         ['sequential_1[0][0]']
 OpLambda)

 dot (Dot)                   (None, 1)                    0         ['tf.math.l2_normalize[0][0]',
                                                                     'tf.math.l2_normalize_1[0][0]
                                                                    ']

==================================================================================================
Total params: 91456 (357.25 KB)
Trainable params: 91456 (357.25 KB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

In [81]:
tf.random.set_seed(1)
cost_fn = tf.keras.losses.MeanSquaredError()
opt = tf.keras.optimizers.legacy.Adam(learning_rate=0.01)
model.compile(optimizer=opt,
              loss=cost_fn)

In [85]:
tf.random.set_seed(1)
model.fit([user_train, item_train], y_train, epochs=200)

Epoch 1/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0411
Epoch 2/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0409
Epoch 3/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0401
Epoch 4/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0401
Epoch 5/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0391
Epoch 6/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0386
Epoch 7/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0379
Epoch 8/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0372
Epoch 9/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0372
Epoch 10/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0364
Epoch 11/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0358
Epoch 12/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0353
Epoch 13/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0349
Epoch 14/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0346
Epoch 15/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0337
Epoch 16/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0338
Epoch 17/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0335
Epoch 18/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0334
Epoch 19/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0322
Epoch 20/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0324
Epoch 21/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0314
Epoch 22/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0313
Epoch 23/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0311
Epoch 24/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0310
Epoch 25/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0310
Epoch 26/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0301
Epoch 27/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0307
Epoch 28/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0297
Epoch 29/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0293
Epoch 30/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0292
Epoch 31/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0291
Epoch 32/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0286
Epoch 33/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0285
Epoch 34/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0280
Epoch 35/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0280
Epoch 36/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0279
Epoch 37/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0276
Epoch 38/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0271
Epoch 39/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0271
Epoch 40/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0271
Epoch 41/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0265
Epoch 42/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0267
Epoch 43/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0264
Epoch 44/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0263
Epoch 45/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0258
Epoch 46/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0258
Epoch 47/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0255
Epoch 48/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0252
Epoch 49/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0254
Epoch 50/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0251
Epoch 51/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0246
Epoch 52/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0246
Epoch 53/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0245
Epoch 54/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0245
Epoch 55/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0247
Epoch 56/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0241
Epoch 57/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0241
Epoch 58/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0238
Epoch 59/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0238
Epoch 60/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0237
Epoch 61/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0237
Epoch 62/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0232
Epoch 63/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0231
Epoch 64/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0231
Epoch 65/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0228
Epoch 66/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0229
Epoch 67/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0227
Epoch 68/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0226
Epoch 69/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0222
Epoch 70/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0226
Epoch 71/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0222
Epoch 72/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0222
Epoch 73/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0217
Epoch 74/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0217
Epoch 75/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0216
Epoch 76/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0214
Epoch 77/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0215
Epoch 78/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0217
Epoch 79/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0212
Epoch 80/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0211
Epoch 81/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0213
Epoch 82/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0208
Epoch 83/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0207
Epoch 84/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0209
Epoch 85/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0209
Epoch 86/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0207
Epoch 87/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0206
Epoch 88/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0205
Epoch 89/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0202
Epoch 90/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0201
Epoch 91/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0201
Epoch 92/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0202
Epoch 93/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0200
Epoch 94/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0202
Epoch 95/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0199
Epoch 96/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0198
Epoch 97/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0195
Epoch 98/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0196
Epoch 99/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0196
Epoch 100/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0193
Epoch 101/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0195
Epoch 102/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0192
Epoch 103/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0192
Epoch 104/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0191
Epoch 105/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0191
Epoch 106/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0191
Epoch 107/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0189
Epoch 108/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0189
Epoch 109/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0189
Epoch 110/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0187
Epoch 111/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0185
Epoch 112/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0185
Epoch 113/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0188
Epoch 114/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0185
Epoch 115/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0184
Epoch 116/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0184
Epoch 117/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0183
Epoch 118/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0181
Epoch 119/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0182
Epoch 120/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0182
Epoch 121/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0182
Epoch 122/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0180
Epoch 123/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0181
Epoch 124/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0177
Epoch 125/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0178
Epoch 126/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0177
Epoch 127/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0177
Epoch 128/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0178
Epoch 129/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0176
Epoch 130/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0175
Epoch 131/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0174
Epoch 132/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0174
Epoch 133/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0174
Epoch 134/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0173
Epoch 135/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0172
Epoch 136/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0171
Epoch 137/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0172
Epoch 138/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0169
Epoch 139/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0172
Epoch 140/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0171
Epoch 141/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0170
Epoch 142/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0170
Epoch 143/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0168
Epoch 144/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0168
Epoch 145/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0168
Epoch 146/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0166
Epoch 147/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0167
Epoch 148/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0165
Epoch 149/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0166
Epoch 150/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0164
Epoch 151/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0164
Epoch 152/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0167
Epoch 153/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0165
Epoch 154/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0163
Epoch 155/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0166
Epoch 156/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0162
Epoch 157/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0162
Epoch 158/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0161
Epoch 159/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0159
Epoch 160/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0162
Epoch 161/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0158
Epoch 162/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0161
Epoch 163/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0159
Epoch 164/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0159
Epoch 165/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0157
Epoch 166/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0159
Epoch 167/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0157
Epoch 168/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0159
Epoch 169/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0156
Epoch 170/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0156
Epoch 171/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0156
Epoch 172/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0156
Epoch 173/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0156
Epoch 174/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0157
Epoch 175/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0153
Epoch 176/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0154
Epoch 177/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0155
Epoch 178/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0153
Epoch 179/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0152
Epoch 180/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0154
Epoch 181/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0154
Epoch 182/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0153
Epoch 183/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0151
Epoch 184/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0151
Epoch 185/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0153
Epoch 186/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0150
Epoch 187/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0151
Epoch 188/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0149
Epoch 189/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0151
Epoch 190/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0150
Epoch 191/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0149
Epoch 192/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0151
Epoch 193/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0148
Epoch 194/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0149
Epoch 195/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0147
Epoch 196/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0147
Epoch 197/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0147
Epoch 198/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0146
Epoch 199/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0146
Epoch 200/200
244/244 [==============================] - 0s 1ms/step - loss: 0.0147

In [87]:
model.evaluate([user_test, item_test], y_test)

61/61 [==============================] - 0s 498us/step - loss: 0.0938

0.0937584936618805

<h2> Predict ratings on Old User </h2>

In [88]:
user.head()

,user_id,overall_score,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,Drama,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
1,0,6.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
2,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
3,0,7.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
4,0,8.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0

In [228]:
uid = 2
user_vecs = user[user['user_id']== uid]

y_vecs = user_vecs['overall_score']
user_vecs = user_vecs.drop(['user_id', 'overall_score'], axis = 1)
y_vecs.head(30)

33    9.0
34    9.5
35    9.0
36    8.0
Name: overall_score, dtype: float64

In [229]:
user_vecs.head(30)

,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,Drama,Espionage,Family,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
33,0.0,0.0,0.0,0.0,9.5,0.0,0.0,8.833333,0.0,0.0,...,0.0,0.0,9.25,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34,0.0,0.0,0.0,0.0,9.5,0.0,0.0,8.833333,0.0,0.0,...,0.0,0.0,9.25,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35,0.0,0.0,0.0,0.0,9.5,0.0,0.0,8.833333,0.0,0.0,...,0.0,0.0,9.25,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36,0.0,0.0,0.0,0.0,9.5,0.0,0.0,8.833333,0.0,0.0,...,0.0,0.0,9.25,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [230]:
item.head()

,kdrama_id,drama_name,pop,rank,Action,Adult,Adventure,Anime,Comedy,Crime,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,1.0,Sing My Crush,2238.0,1484.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,32.0,Happy Merry Ending,1366.0,7632.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,51.0,Our Dating Sim,569.0,2185.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,80.0,The Director Who Buys Me Dinner,679.0,6529.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,84.0,Unlock My Boss,1088.0,2117.0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0

In [231]:
index_u = user_vecs.index.tolist()
item_vecs = item.iloc[index_u[0]:index_u[-1]+1,2:]
item_vecs.head(23)

,pop,rank,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,Drama,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
33,2238.0,1484.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
34,763.0,5998.0,0,0,0,0,1,0,0,1,...,0,0,1,0,0,0,0,0,0,0
35,1064.0,1234.0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
36,873.0,497.0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [232]:





# scale our user and item vectors
suser_vecs = scalerUser.transform(user_vecs)
sitem_vecs = scalerItem.transform(item_vecs)

# make a prediction
y_p = model.predict([suser_vecs, sitem_vecs])

# unscale y prediction 
y_pu = scalerTarget.inverse_transform(y_p)


#

1/1 [==============================] - 0s 11ms/step

In [233]:
print(y_pu)

[[8.746806]
 [9.436933]
 [9.009424]
 [8.651902]]

In [234]:
# sort the results, highest prediction first
sorted_index = np.argsort(-y_pu,axis=0).reshape(-1).tolist()  #negate to get largest rating first
sorted_ypu   = y_pu[sorted_index]
v = item[['kdrama_id','drama_name']].iloc[index_u[0]:index_u[-1]+1,:]
sorted_items = v.reset_index().iloc[sorted_index]  #using unscaled vectors for display 
sorted_user  = user.iloc[sorted_index]


sorted_y = y_vecs.reset_index().iloc[sorted_index]
print(sorted_ypu)

[[9.436933]
 [9.009424]
 [8.746806]
 [8.651902]]

In [235]:
type(sorted_ypu)
sorted_ypred = pd.DataFrame(sorted_ypu)
sorted_ypred.head(10)

          0
0  9.436933
1  9.009424
2  8.746806
3  8.651902

In [236]:

out = pd.concat([sorted_items, sorted_y], axis=1)
out['prediction_score'] = sorted_ypred.values

In [237]:
out.head(30)

   index  kdrama_id         drama_name  index  overall_score  prediction_score
1     34      107.0   Choco Milk Shake     34            9.5          9.436933
2     35      119.0     Bad Prosecutor     35            9.0          9.009424
0     33        1.0      Sing My Crush     33            9.0          8.746806
3     36      126.0  One Dollar Lawyer     36            8.0          8.651902