In [5]:
import numpy as np
import numpy.ma as ma
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split

In [6]:
user_train = pd.read_csv('user_train.csv')
item_train = pd.read_csv('item_train.csv')

In [7]:
user_train.head(10)

,user_id,overall_score,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,Drama,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
1,0,6.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
2,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
3,0,7.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
4,0,8.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
5,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
6,0,8.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
7,0,8.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
8,0,8.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
9,0,6.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0

In [8]:
item_train.head(10)

,drama_name,kdrama_id,pop,rank,Action,Adult,Adventure,Anime,Comedy,Crime,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,Sing My Crush,1.0,2238.0,1484.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,Happy Merry Ending,32.0,1366.0,7632.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,Our Dating Sim,51.0,569.0,2185.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,The Director Who Buys Me Dinner,80.0,679.0,6529.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Unlock My Boss,84.0,1088.0,2117.0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
5,Roommates of Poongduck 304,114.0,570.0,2870.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
6,The Golden Spoon,127.0,658.0,1903.0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
7,Big Mouth,150.0,163.0,395.0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
8,Blueming,203.0,367.0,1715.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9,Grid,223.0,1195.0,5507.0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0

<h2> Switch kdrama_id and drama_name Columns </h2>

In [9]:
cols = item_train.columns.tolist()
cols[0], cols[1] = cols[1], cols[0]
item_train = item_train[cols]

In [10]:
item_train.head(10)

,kdrama_id,drama_name,pop,rank,Action,Adult,Adventure,Anime,Comedy,Crime,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,1.0,Sing My Crush,2238.0,1484.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,32.0,Happy Merry Ending,1366.0,7632.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,51.0,Our Dating Sim,569.0,2185.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,80.0,The Director Who Buys Me Dinner,679.0,6529.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,84.0,Unlock My Boss,1088.0,2117.0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
5,114.0,Roommates of Poongduck 304,570.0,2870.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
6,127.0,The Golden Spoon,658.0,1903.0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
7,150.0,Big Mouth,163.0,395.0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
8,203.0,Blueming,367.0,1715.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9,223.0,Grid,1195.0,5507.0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0

In [11]:
y_train = user_train['overall_score']

In [12]:
type(y_train)

pandas.core.series.Series

In [13]:

item = item_train
item_train = item_train.drop(['kdrama_id', 'drama_name'],axis = 1)

In [14]:
user = user_train
user_train = user_train.drop(['user_id', 'overall_score'], axis =1)

<h2> Scale training Data </h2>

In [15]:

item_train_unscaled = item_train
user_train_unscaled = user_train
y_train_unscaled    = y_train

scalerItem = StandardScaler()
scalerItem.fit(item_train)
item_train = scalerItem.transform(item_train)

scalerUser = StandardScaler()
scalerUser.fit(user_train)
user_train = scalerUser.transform(user_train)

scalerTarget = MinMaxScaler((-1, 1))
scalerTarget.fit(y_train.values.reshape(-1, 1))
y_train = scalerTarget.transform(y_train.values.reshape(-1, 1))

In [16]:
print(np.allclose(item_train_unscaled, scalerItem.inverse_transform(item_train)))
print(np.allclose(user_train_unscaled, scalerUser.inverse_transform(user_train)))

True
True

In [17]:
item_train, item_test = train_test_split(item_train, train_size=0.80, shuffle=True, random_state=1)
user_train, user_test = train_test_split(user_train, train_size=0.80, shuffle=True, random_state=1)
y_train, y_test       = train_test_split(y_train,    train_size=0.80, shuffle=True, random_state=1)
print(f"movie/item training data shape: {item_train.shape}")
print(f"movie/item test data shape: {item_test.shape}")

movie/item training data shape: (7798, 34)
movie/item test data shape: (1950, 34)

In [18]:
num_user_features = user_train.shape[1]
num_item_features = item_train.shape[1]

In [19]:
num_outputs = 32
tf.random.set_seed(1)
user_NN = tf.keras.models.Sequential([
    tf.keras.layers.Dense(256, activation = 'relu'),
    tf.keras.layers.Dense(128, activation = 'relu'),
    tf.keras.layers.Dense(num_outputs, activation = 'linear'),
  
  
])

item_NN = tf.keras.models.Sequential([
    tf.keras.layers.Dense(256, activation = 'relu'),
    tf.keras.layers.Dense(128, activation = 'relu'),
    tf.keras.layers.Dense(num_outputs, activation = 'linear'),
  
  
])

input_user = tf.keras.layers.Input(shape=(num_user_features))
vu = user_NN(input_user)
vu = tf.linalg.l2_normalize(vu, axis=1)

input_item = tf.keras.layers.Input(shape=(num_item_features))
vm = item_NN(input_item)
vm = tf.linalg.l2_normalize(vm, axis=1)

output = tf.keras.layers.Dot(axes=1)([vu, vm])

model = tf.keras.Model([input_user, input_item], output)

model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 input_1 (InputLayer)        [(None, 32)]                 0         []

 input_2 (InputLayer)        [(None, 34)]                 0         []

 sequential (Sequential)     (None, 32)                   45472     ['input_1[0][0]']

 sequential_1 (Sequential)   (None, 32)                   45984     ['input_2[0][0]']

 tf.math.l2_normalize (TFOp  (None, 32)                   0         ['sequential[0][0]']
 Lambda)

 tf.math.l2_normalize_1 (TF  (None, 32)                   0         ['sequential_1[0][0]']
 OpLambda)

 dot (Dot)                   (None, 1)                    0         ['tf.math.l2_normalize[0][0]',
                                                                     'tf.math.l2_normalize_1[0][0]
                                                                    ']

==================================================================================================
Total params: 91456 (357.25 KB)
Trainable params: 91456 (357.25 KB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

In [20]:
tf.random.set_seed(1)
cost_fn = tf.keras.losses.MeanSquaredError()
opt = tf.keras.optimizers.legacy.Adam(learning_rate=0.01)
model.compile(optimizer=opt,
              loss=cost_fn)

In [21]:
tf.random.set_seed(1)
model.fit([user_train, item_train], y_train, epochs=100)

Epoch 1/100
244/244 [==============================] - 0s 1ms/step - loss: 0.1204
Epoch 2/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0933
Epoch 3/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0819
Epoch 4/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0778
Epoch 5/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0732
Epoch 6/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0690
Epoch 7/100
244/244 [==============================] - 0s 993us/step - loss: 0.0663
Epoch 8/100
244/244 [==============================] - 0s 989us/step - loss: 0.0647
Epoch 9/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0622
Epoch 10/100
244/244 [==============================] - 0s 969us/step - loss: 0.0604
Epoch 11/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0591
Epoch 12/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0575
Epoch 13/100
244/244 [==============================] - 0s 989us/step - loss: 0.0565
Epoch 14/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0551
Epoch 15/100
244/244 [==============================] - 0s 991us/step - loss: 0.0539
Epoch 16/100
244/244 [==============================] - 0s 986us/step - loss: 0.0538
Epoch 17/100
244/244 [==============================] - 0s 958us/step - loss: 0.0525
Epoch 18/100
244/244 [==============================] - 0s 991us/step - loss: 0.0515
Epoch 19/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0505
Epoch 20/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0498
Epoch 21/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0488
Epoch 22/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0481
Epoch 23/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0471
Epoch 24/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0469
Epoch 25/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0464
Epoch 26/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0451
Epoch 27/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0453
Epoch 28/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0441
Epoch 29/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0432
Epoch 30/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0429
Epoch 31/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0421
Epoch 32/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0418
Epoch 33/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0413
Epoch 34/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0403
Epoch 35/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0395
Epoch 36/100
244/244 [==============================] - 0s 983us/step - loss: 0.0393
Epoch 37/100
244/244 [==============================] - 0s 984us/step - loss: 0.0386
Epoch 38/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0381
Epoch 39/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0377
Epoch 40/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0372
Epoch 41/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0364
Epoch 42/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0362
Epoch 43/100
244/244 [==============================] - 0s 984us/step - loss: 0.0355
Epoch 44/100
244/244 [==============================] - 0s 993us/step - loss: 0.0350
Epoch 45/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0346
Epoch 46/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0341
Epoch 47/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0341
Epoch 48/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0333
Epoch 49/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0329
Epoch 50/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0325
Epoch 51/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0319
Epoch 52/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0317
Epoch 53/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0313
Epoch 54/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0312
Epoch 55/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0309
Epoch 56/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0304
Epoch 57/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0303
Epoch 58/100
244/244 [==============================] - 0s 994us/step - loss: 0.0297
Epoch 59/100
244/244 [==============================] - 0s 966us/step - loss: 0.0299
Epoch 60/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0295
Epoch 61/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0290
Epoch 62/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0287
Epoch 63/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0285
Epoch 64/100
244/244 [==============================] - 0s 971us/step - loss: 0.0281
Epoch 65/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0281
Epoch 66/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0279
Epoch 67/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0277
Epoch 68/100
244/244 [==============================] - 0s 999us/step - loss: 0.0274
Epoch 69/100
244/244 [==============================] - 0s 989us/step - loss: 0.0271
Epoch 70/100
244/244 [==============================] - 0s 987us/step - loss: 0.0272
Epoch 71/100
244/244 [==============================] - 0s 962us/step - loss: 0.0268
Epoch 72/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0265
Epoch 73/100
244/244 [==============================] - 0s 990us/step - loss: 0.0259
Epoch 74/100
244/244 [==============================] - 0s 972us/step - loss: 0.0259
Epoch 75/100
244/244 [==============================] - 0s 983us/step - loss: 0.0262
Epoch 76/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0256
Epoch 77/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0256
Epoch 78/100
244/244 [==============================] - 0s 992us/step - loss: 0.0256
Epoch 79/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0250
Epoch 80/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0250
Epoch 81/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0251
Epoch 82/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0246
Epoch 83/100
244/244 [==============================] - 0s 996us/step - loss: 0.0246
Epoch 84/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0242
Epoch 85/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0242
Epoch 86/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0240
Epoch 87/100
244/244 [==============================] - 0s 986us/step - loss: 0.0239
Epoch 88/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0237
Epoch 89/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0234
Epoch 90/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0234
Epoch 91/100
244/244 [==============================] - 0s 977us/step - loss: 0.0236
Epoch 92/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0233
Epoch 93/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0231
Epoch 94/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0231
Epoch 95/100
244/244 [==============================] - 0s 993us/step - loss: 0.0228
Epoch 96/100
244/244 [==============================] - 0s 993us/step - loss: 0.0225
Epoch 97/100
244/244 [==============================] - 0s 974us/step - loss: 0.0224
Epoch 98/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0225
Epoch 99/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0224
Epoch 100/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0220

In [22]:
model.evaluate([user_test, item_test], y_test)

61/61 [==============================] - 0s 445us/step - loss: 0.0899

0.08991076052188873

<h2> Predict ratings for Old User </h2>

In [23]:
user.head()

,user_id,overall_score,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,Drama,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
1,0,6.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
2,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
3,0,7.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
4,0,8.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0

In [24]:
uid = 0
user_vecs = user[user['user_id']== uid]

y_vecs = user_vecs['overall_score']
user_vecs = user_vecs.drop(['user_id', 'overall_score'], axis = 1)
y_vecs.head(30)

0     9.0
1     6.5
2     9.0
3     7.0
4     8.5
5     9.0
6     8.0
7     8.5
8     8.5
9     6.5
10    9.0
11    9.0
12    6.5
13    8.5
14    8.0
15    8.0
16    7.0
17    8.0
18    6.5
19    8.0
20    9.0
21    8.0
Name: overall_score, dtype: float64

In [25]:
user_vecs.head(30)

,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,Drama,Espionage,Family,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
1,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
2,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
3,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
4,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
6,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
7,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
8,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
9,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
10,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
11,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
12,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
13,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
14,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
15,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
16,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
17,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
18,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
19,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
20,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
21,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0

In [26]:
item.head()

,kdrama_id,drama_name,pop,rank,Action,Adult,Adventure,Anime,Comedy,Crime,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,1.0,Sing My Crush,2238.0,1484.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,32.0,Happy Merry Ending,1366.0,7632.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,51.0,Our Dating Sim,569.0,2185.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,80.0,The Director Who Buys Me Dinner,679.0,6529.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,84.0,Unlock My Boss,1088.0,2117.0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0

In [27]:
index_u = user_vecs.index.tolist()
item_vecs = item.iloc[index_u[0]:index_u[-1]+1,2:]
item_vecs.head(23)

,pop,rank,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,Drama,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,2238.0,1484.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,1366.0,7632.0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
2,569.0,2185.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,679.0,6529.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,1088.0,2117.0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
5,570.0,2870.0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
6,658.0,1903.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
7,163.0,395.0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
8,367.0,1715.0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
9,1195.0,5507.0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,1,0,0,0
10,148.0,1241.0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
11,79.0,122.0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
12,94.0,509.0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
13,345.0,341.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,171.0,423.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
15,100.0,81.0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,659.0,7633.0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
17,239.0,562.0,0,0,0,0,1,0,0,1,...,0,0,1,0,0,0,0,0,0,0
18,372.0,1413.0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
19,521.0,7137.0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
20,152.0,2300.0,0,0,0,0,1,0,0,1,...,0,0,1,0,0,0,0,0,0,0
21,19.0,595.0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [28]:





# scale our user and item vectors
suser_vecs = scalerUser.transform(user_vecs)
sitem_vecs = scalerItem.transform(item_vecs)

# make a prediction
y_p = model.predict([suser_vecs, sitem_vecs])

# unscale y prediction 
y_pu = scalerTarget.inverse_transform(y_p)


#

1/1 [==============================] - 0s 40ms/step

In [29]:
print(y_pu)

[[9.018528 ]
 [6.939753 ]
 [8.98087  ]
 [7.7372875]
 [8.788444 ]
 [8.2964115]
 [8.125534 ]
 [9.2931185]
 [8.640123 ]
 [6.5876303]
 [8.898846 ]
 [8.461033 ]
 [6.849948 ]
 [8.194017 ]
 [8.066369 ]
 [8.384446 ]
 [6.911785 ]
 [9.111548 ]
 [6.530284 ]
 [7.49252  ]
 [8.630753 ]
 [7.487232 ]]

In [30]:
# sort the results, highest prediction first
sorted_index = np.argsort(-y_pu,axis=0).reshape(-1).tolist()  
sorted_ypu   = y_pu[sorted_index]
v = item[['kdrama_id','drama_name']].iloc[index_u[0]:index_u[-1]+1,:]
sorted_items = v.reset_index(drop= True).iloc[sorted_index]
sorted_user  = user.iloc[sorted_index]


sorted_y = y_vecs.reset_index(drop = True).iloc[sorted_index]

In [31]:
type(sorted_ypu)
sorted_ypred = pd.DataFrame(sorted_ypu)
sorted_ypred.head(10)

          0
0  9.293118
1  9.111548
2  9.018528
3  8.980870
4  8.898846
5  8.788444
6  8.640123
7  8.630753
8  8.461033
9  8.384446

In [32]:

out = pd.concat([sorted_items, sorted_y], axis=1)
out['prediction_score'] = sorted_ypred.values

<h3> ACTUAL RATING V/S PREDICTED RATING </h3>

In [33]:
out.head(30)

,kdrama_id,drama_name,overall_score,prediction_score
7,150.0,Big Mouth,8.5,9.293118
17,300.0,Dali and the Cocky Prince,8.0,9.111548
0,1.0,Sing My Crush,9.0,9.018528
2,51.0,Our Dating Sim,9.0,8.980870
10,224.0,Semantic Error,9.0,8.898846
4,84.0,Unlock My Boss,8.5,8.788444
8,203.0,Blueming,8.5,8.640123
20,496.0,Where Your Eyes Linger,9.0,8.630753
11,225.0,Twenty-Five Twenty-One,9.0,8.461033
15,276.0,Happiness,8.0,8.384446
5,114.0,Roommates of Poongduck 304,9.0,8.296412
13,236.0,Ghost Doctor,8.5,8.194017
6,127.0,The Golden Spoon,8.0,8.125534
14,247.0,Bad and Crazy,8.0,8.066369
3,80.0,The Director Who Buys Me Dinner,7.0,7.737288
19,442.0,The School Nurse Files,8.0,7.492520
21,540.0,Itaewon Class,8.0,7.487232
1,32.0,Happy Merry Ending,6.5,6.939753
16,287.0,My Sweet Dear,7.0,6.911785
12,229.0,All of Us Are Dead,6.5,6.849948
9,223.0,Grid,6.5,6.587630
18,310.0,Lovers of the Red Sky,6.5,6.530284

<h4>PREDICT DRAMA RATINGS FOR A NEW USER</h4>

In [34]:
drama_vecs = item.drop_duplicates(subset=['drama_name'])

In [35]:
drama_vecs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1104 entries, 0 to 9570
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   kdrama_id        1104 non-null   float64
 1   drama_name       1104 non-null   object
 2   pop              1104 non-null   float64
 3   rank             1104 non-null   float64
 4   Action           1104 non-null   int64
 5   Adult            1104 non-null   int64
 6   Adventure        1104 non-null   int64
 7   Anime            1104 non-null   int64
 8   Comedy           1104 non-null   int64
 9   Crime            1104 non-null   int64
 10  DIY              1104 non-null   int64
 11  Drama            1104 non-null   int64
 12  Espionage        1104 non-null   int64
 13  Family           1104 non-null   int64
 14  Fantasy          1104 non-null   int64
 15  Food             1104 non-null   int64
 16  Friendship       1104 non-null   int64
 17  Historical       1104 non-null   int64
 18  History          1104 non-null   int64
 19  Horror           1104 non-null   int64
 20  Law              1104 non-null   int64
 21  Legal            1104 non-null   int64
 22  Life             1104 non-null   int64
 23  Medical          1104 non-null   int64
 24  Military         1104 non-null   int64
 25  Music            1104 non-null   int64
 26  Mystery          1104 non-null   int64
 27  Psychological    1104 non-null   int64
 28  Romance          1104 non-null   int64
 29  Science-Fiction  1104 non-null   int64
 30  Sports           1104 non-null   int64
 31  Supernatural     1104 non-null   int64
 32  Thriller         1104 non-null   int64
 33  Travel           1104 non-null   int64
 34  War              1104 non-null   int64
 35  Youth            1104 non-null   int64
dtypes: float64(3), int64(32), object(1)
memory usage: 319.1+ KB

<h4>Create New User Vector</h4>

In [36]:
user.head()

,user_id,overall_score,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,Drama,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
1,0,6.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
2,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
3,0,7.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
4,0,8.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0

In [37]:
new_user_vecs = user.iloc[0:1]

In [38]:
new_user_vecs = new_user_vecs*0

In [39]:
new_user_vecs.head()

,user_id,overall_score,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,Drama,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
new_user_vecs['Romance'] = 10
new_user_vecs['Comedy'] = 9

In [41]:
row_array = new_user_vecs.values
repeated_array = np.tile(row_array, (len(drama_vecs), 1))

In [42]:
new_user_vecs = pd.DataFrame(
    repeated_array, 
    columns=new_user_vecs.columns
)

In [43]:
new_user_vecs = new_user_vecs.drop(['user_id', 'overall_score'], axis = 1)

<h4> Scale and Predict</h4>

In [44]:
snuser_vecs = scalerUser.transform(new_user_vecs)
snitem_vecs = scalerItem.transform(drama_vecs.iloc[:,2:])

In [45]:
y_p = model.predict([snuser_vecs, snitem_vecs])

# unscale y prediction 
y_pu = scalerTarget.inverse_transform(y_p)

35/35 [==============================] - 0s 407us/step

In [46]:

sorted_index = np.argsort(-y_pu,axis=0).reshape(-1).tolist()  
sorted_ypu   = y_pu[sorted_index]
sorted_ypu = pd.DataFrame(sorted_ypu)
sorted_items = drama_vecs.iloc[sorted_index]

In [47]:
result = sorted_items.iloc[:,1:4]

In [48]:
result['predicted_ratings'] = sorted_ypu.values

<h3> RATINGS PREDICTION FOR A NEW USER</h3>

In [49]:
result.head(30)

                           drama_name     pop    rank  predicted_ratings
382      The Road: The Tragedy of One  4067.0  6756.0           9.808828
72                   The New Employee   818.0  6343.0           9.715191
199                   Strangers Again  1150.0  6757.0           9.712392
988                   Reunited Worlds  1020.0  4837.0           9.712343
402                Revolutionary Love   519.0  5940.0           9.700036
1737              Falling for Do Jeon  1561.0  7884.0           9.680270
258               A Business Proposal    22.0   244.0           9.659593
637         Something About 1 Percent   204.0  1342.0           9.656398
1521             Hometown Cha-Cha-Cha    42.0   197.0           9.655071
546                      Yumi's Cells   245.0   650.0           9.648402
114                     King the Land   237.0   605.0           9.648286
333           Crash Course in Romance   244.0   585.0           9.647037
1010           Matching! Boys Archery  2386.0  7026.0           9.643198
588   The Secret Life of My Secretary   154.0  1978.0           9.637182
1020                        The Lover   527.0  5486.0           9.632757
1501                      Rookie Cops   504.0   925.0           9.621125
1535         So I Married an Anti-Fan   185.0  2233.0           9.620920
972                     Longing Heart  1136.0  3509.0           9.615374
2607                         Rich Man   554.0  6861.0           9.611813
3138      Because It's the First Time   870.0  5042.0           9.611449
4868                     Twenty Again   637.0  1932.0           9.603441
44                          Love Mate  1135.0  5695.0           9.602278
623               Temperature of Love   465.0  5140.0           9.601423
315                     Hot and Sweet  3446.0  7838.0           9.600031
6556               Ex-Girlfriend Club   920.0  4698.0           9.593362
471                  Gaus Electronics   620.0   727.0           9.592115
949                      Devilish Joy   446.0  2621.0           9.584653
269                          Hometown  2112.0  5718.0           9.565177
171           While You Were Sleeping    11.0   213.0           9.558378
1850                 Introverted Boss   109.0  3305.0           9.554088

<h3> SHOW SIMILAR MOVIES </h3>

In [50]:
input_item_m = tf.keras.layers.Input(shape=(num_item_features))
vm_m = item_NN(input_item_m)                                       # use the trained item_NN
vm_m = tf.linalg.l2_normalize(vm_m, axis=1)                        
model_m = tf.keras.Model(input_item_m, vm_m)                                
model_m.summary()

Model: "model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_3 (InputLayer)        [(None, 34)]              0

 sequential_1 (Sequential)   (None, 32)                45984

 tf.math.l2_normalize_2 (TF  (None, 32)                0
 OpLambda)

=================================================================
Total params: 45984 (179.62 KB)
Trainable params: 45984 (179.62 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [67]:
drama_vecs.head()

,kdrama_id,drama_name,pop,rank,Action,Adult,Adventure,Anime,Comedy,Crime,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,1.0,Sing My Crush,2238.0,1484.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,32.0,Happy Merry Ending,1366.0,7632.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,51.0,Our Dating Sim,569.0,2185.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,80.0,The Director Who Buys Me Dinner,679.0,6529.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,84.0,Unlock My Boss,1088.0,2117.0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0

In [55]:
scaled_item_vecs = scalerItem.transform(drama_vecs.iloc[:,2:])
vms = model_m.predict(scaled_item_vecs)
print(f"size of all predicted movie feature vectors: {vms.shape}")

35/35 [==============================] - 0s 414us/step
size of all predicted movie feature vectors: (1104, 32)

In [77]:
import tabulate

In [79]:
count = 50  # number of movies to display
dim = len(vms)
dist = np.zeros((dim,dim))

for i in range(dim):
    for j in range(dim):
        dist[i,j] = np.sum((vms[i,:] - vms [j, :])**2)
        
m_dist = ma.masked_array(dist, mask=np.identity(dist.shape[0]))  # mask the diagonal

disp = [["movie1", "movie2"]]
for i in range(count):
    min_idx = np.argmin(m_dist[i])
    movie1_id = int(drama_vecs.iloc[i,0])
    movie2_id = int(drama_vecs.iloc[min_idx,0])
    name1 = drama_vecs[drama_vecs['kdrama_id'] == movie1_id]['drama_name'].iloc[0]
    name2 = drama_vecs[drama_vecs['kdrama_id'] == movie2_id]['drama_name'].iloc[0]
    
    disp.append([name1, name2])
table = tabulate.tabulate(disp, tablefmt='html', headers="firstrow")
table

'<table>\n<thead>\n<tr><th>movie1                         </th><th>movie2                                       </th></tr>\n</thead>\n<tbody>\n<tr><td>Sing My Crush                  </td><td>Madam Cha Dal Rae&#x27;s Love                     </td></tr>\n<tr><td>Happy Merry Ending             </td><td>Happy Ending Romance                         </td></tr>\n<tr><td>Our Dating Sim                 </td><td>Our Blooming Youth                           </td></tr>\n<tr><td>The Director Who Buys Me Dinner</td><td>To Be Continued                              </td></tr>\n<tr><td>Unlock My Boss                 </td><td>Jang Young Shil                              </td></tr>\n<tr><td>Roommates of Poongduck 304     </td><td>School 2021                                  </td></tr>\n<tr><td>The Golden Spoon               </td><td>Good Casting                                 </td></tr>\n<tr><td>Big Mouth                      </td><td>Chicago Typewriter                           </td></tr>\n<tr><td>Blueming                       </td><td>A-Teen                                       </td></tr>\n<tr><td>Grid                           </td><td>Monstrous                                    </td></tr>\n<tr><td>Semantic Error                 </td><td>When the Weather Is Fine                     </td></tr>\n<tr><td>Twenty-Five Twenty-One         </td><td>It&#x27;s Okay to Not Be Okay                     </td></tr>\n<tr><td>All of Us Are Dead             </td><td>Sweet Revenge                                </td></tr>\n<tr><td>Ghost Doctor                   </td><td>Mystic Pop-Up Bar                            </td></tr>\n<tr><td>Bad and Crazy                  </td><td>Longing Heart                                </td></tr>\n<tr><td>Happiness                      </td><td>Unlock My Boss                               </td></tr>\n<tr><td>My Sweet Dear                  </td><td>Ocean Likes Me                               </td></tr>\n<tr><td>Dali and the Cocky Prince      </td><td>See You in My 19th Life                      </td></tr>\n<tr><td>Lovers of the Red Sky          </td><td>Queen: Love and War                          </td></tr>\n<tr><td>The School Nurse Files         </td><td>Dramaworld                                   </td></tr>\n<tr><td>Where Your Eyes Linger         </td><td>Memories of the Alhambra                     </td></tr>\n<tr><td>Itaewon Class                  </td><td>The World of the Married                     </td></tr>\n<tr><td>Star Struck                    </td><td>That Man Oh Soo                              </td></tr>\n<tr><td>The Eighth Sense               </td><td>A-Teen                                       </td></tr>\n<tr><td>Individual Circumstances       </td><td>Happy Ending Romance                         </td></tr>\n<tr><td>Happy Ending Romance           </td><td>Happy Merry Ending                           </td></tr>\n<tr><td>Summer Strike                  </td><td>If You Wish Upon Me                          </td></tr>\n<tr><td>Bad Girlfriend                 </td><td>My Fuxxxxx Romance                           </td></tr>\n<tr><td>Life                           </td><td>Extracurricular                              </td></tr>\n<tr><td>Choco Milk Shake               </td><td>Witch&#x27;s Love                                 </td></tr>\n<tr><td>Bad Prosecutor                 </td><td>One Ordinary Day                             </td></tr>\n<tr><td>One Dollar Lawyer              </td><td>One Ordinary Day                             </td></tr>\n<tr><td>Brain Works                    </td><td>Priest                                       </td></tr>\n<tr><td>Love Tractor                   </td><td>Let Me Be Your Knight                        </td></tr>\n<tr><td>Love Mate                      </td><td>Hometown                                     </td></tr>\n<tr><td>Unintentional Love Story       </td><td>Perfume                                      </td></tr>\n<tr><td>A Shoulder to Cry On           </td><td>Top Management                               </td></tr>\n<tr><td>All the Liquors                </td><td>Bubblegum                                    </td></tr>\n<tr><td>Oh! My Assistant               </td><td>Click Your Heart                             </td></tr>\n<tr><td>Love Class                     </td><td>Happy Ending Romance                         </td></tr>\n<tr><td>Ocean Likes Me                 </td><td>My Sweet Dear                                </td></tr>\n<tr><td>Blue of Winter                 </td><td>Eve                                          </td></tr>\n<tr><td>Cherry Blossoms After Winter   </td><td>You Make Me Dance                            </td></tr>\n<tr><td>Oh! Boarding House             </td><td>Oh My Ladylord                               </td></tr>\n<tr><td>Kissable Lips                  </td><td>Let&#x27;s Hold Hands Tightly and Watch The Sunset</td></tr>\n<tr><td>Behind Cut                     </td><td>The Interest of Love                         </td></tr>\n<tr><td>The Tasty Florida              </td><td>The Time We Were Not in Love                 </td></tr>\n<tr><td>My 20th Twenty                 </td><td>Café Kilimanjaro                             </td></tr>\n<tr><td>The New Employee               </td><td>Revolutionary Love                           </td></tr>\n<tr><td>We&#x27;re Not Trash                </td><td>Girl’s War                                   </td></tr>\n</tbody>\n</table>'