In [81]:
import numpy as np
import numpy.ma as ma
import pandas as pd
import tensorflow as tf
import tabulate 

from tensorflow import keras
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split

In [6]:
user_train = pd.read_csv('user_train.csv')
item_train = pd.read_csv('item_train.csv')

In [7]:
user_train.head(10)

,user_id,overall_score,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,Drama,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
1,0,6.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
2,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
3,0,7.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
4,0,8.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
5,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
6,0,8.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
7,0,8.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
8,0,8.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
9,0,6.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0

In [8]:
item_train.head(10)

,drama_name,kdrama_id,pop,rank,Action,Adult,Adventure,Anime,Comedy,Crime,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,Sing My Crush,1.0,2238.0,1484.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,Happy Merry Ending,32.0,1366.0,7632.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,Our Dating Sim,51.0,569.0,2185.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,The Director Who Buys Me Dinner,80.0,679.0,6529.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Unlock My Boss,84.0,1088.0,2117.0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
5,Roommates of Poongduck 304,114.0,570.0,2870.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
6,The Golden Spoon,127.0,658.0,1903.0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
7,Big Mouth,150.0,163.0,395.0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
8,Blueming,203.0,367.0,1715.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9,Grid,223.0,1195.0,5507.0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0

<h4> Switch kdrama_id and drama_name Columns </h4>

In [9]:
cols = item_train.columns.tolist()
cols[0], cols[1] = cols[1], cols[0]
item_train = item_train[cols]

In [10]:
item_train.head(10)

,kdrama_id,drama_name,pop,rank,Action,Adult,Adventure,Anime,Comedy,Crime,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,1.0,Sing My Crush,2238.0,1484.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,32.0,Happy Merry Ending,1366.0,7632.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,51.0,Our Dating Sim,569.0,2185.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,80.0,The Director Who Buys Me Dinner,679.0,6529.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,84.0,Unlock My Boss,1088.0,2117.0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
5,114.0,Roommates of Poongduck 304,570.0,2870.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
6,127.0,The Golden Spoon,658.0,1903.0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
7,150.0,Big Mouth,163.0,395.0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
8,203.0,Blueming,367.0,1715.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9,223.0,Grid,1195.0,5507.0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0

In [11]:
y_train = user_train['overall_score']

In [12]:
type(y_train)

pandas.core.series.Series

In [13]:

item = item_train
item_train = item_train.drop(['kdrama_id', 'drama_name'],axis = 1)

In [14]:
user = user_train
user_train = user_train.drop(['user_id', 'overall_score'], axis =1)

<h4> Scale training Data </h4>

In [15]:

item_train_unscaled = item_train
user_train_unscaled = user_train
y_train_unscaled    = y_train

scalerItem = StandardScaler()
scalerItem.fit(item_train)
item_train = scalerItem.transform(item_train)

scalerUser = StandardScaler()
scalerUser.fit(user_train)
user_train = scalerUser.transform(user_train)

scalerTarget = MinMaxScaler((-1, 1))
scalerTarget.fit(y_train.values.reshape(-1, 1))
y_train = scalerTarget.transform(y_train.values.reshape(-1, 1))

In [16]:
print(np.allclose(item_train_unscaled, scalerItem.inverse_transform(item_train)))
print(np.allclose(user_train_unscaled, scalerUser.inverse_transform(user_train)))

True
True

In [17]:
item_train, item_test = train_test_split(item_train, train_size=0.80, shuffle=True, random_state=1)
user_train, user_test = train_test_split(user_train, train_size=0.80, shuffle=True, random_state=1)
y_train, y_test       = train_test_split(y_train,    train_size=0.80, shuffle=True, random_state=1)
print(f"movie/item training data shape: {item_train.shape}")
print(f"movie/item test data shape: {item_test.shape}")

movie/item training data shape: (7798, 34)
movie/item test data shape: (1950, 34)

In [18]:
num_user_features = user_train.shape[1]
num_item_features = item_train.shape[1]

In [19]:
num_outputs = 32
tf.random.set_seed(1)
user_NN = tf.keras.models.Sequential([
    tf.keras.layers.Dense(256, activation = 'relu'),
    tf.keras.layers.Dense(128, activation = 'relu'),
    tf.keras.layers.Dense(num_outputs, activation = 'linear'),
  
  
])

item_NN = tf.keras.models.Sequential([
    tf.keras.layers.Dense(256, activation = 'relu'),
    tf.keras.layers.Dense(128, activation = 'relu'),
    tf.keras.layers.Dense(num_outputs, activation = 'linear'),
  
  
])

input_user = tf.keras.layers.Input(shape=(num_user_features))
vu = user_NN(input_user)
vu = tf.linalg.l2_normalize(vu, axis=1)

input_item = tf.keras.layers.Input(shape=(num_item_features))
vm = item_NN(input_item)
vm = tf.linalg.l2_normalize(vm, axis=1)

output = tf.keras.layers.Dot(axes=1)([vu, vm])

model = tf.keras.Model([input_user, input_item], output)

model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 input_1 (InputLayer)        [(None, 32)]                 0         []

 input_2 (InputLayer)        [(None, 34)]                 0         []

 sequential (Sequential)     (None, 32)                   45472     ['input_1[0][0]']

 sequential_1 (Sequential)   (None, 32)                   45984     ['input_2[0][0]']

 tf.math.l2_normalize (TFOp  (None, 32)                   0         ['sequential[0][0]']
 Lambda)

 tf.math.l2_normalize_1 (TF  (None, 32)                   0         ['sequential_1[0][0]']
 OpLambda)

 dot (Dot)                   (None, 1)                    0         ['tf.math.l2_normalize[0][0]',
                                                                     'tf.math.l2_normalize_1[0][0]
                                                                    ']

==================================================================================================
Total params: 91456 (357.25 KB)
Trainable params: 91456 (357.25 KB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

In [20]:
tf.random.set_seed(1)
cost_fn = tf.keras.losses.MeanSquaredError()
opt = tf.keras.optimizers.legacy.Adam(learning_rate=0.01)
model.compile(optimizer=opt,
              loss=cost_fn)

In [21]:
tf.random.set_seed(1)
model.fit([user_train, item_train], y_train, epochs=100)

Epoch 1/100
244/244 [==============================] - 0s 1ms/step - loss: 0.1204
Epoch 2/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0933
Epoch 3/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0819
Epoch 4/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0778
Epoch 5/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0732
Epoch 6/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0690
Epoch 7/100
244/244 [==============================] - 0s 993us/step - loss: 0.0663
Epoch 8/100
244/244 [==============================] - 0s 989us/step - loss: 0.0647
Epoch 9/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0622
Epoch 10/100
244/244 [==============================] - 0s 969us/step - loss: 0.0604
Epoch 11/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0591
Epoch 12/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0575
Epoch 13/100
244/244 [==============================] - 0s 989us/step - loss: 0.0565
Epoch 14/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0551
Epoch 15/100
244/244 [==============================] - 0s 991us/step - loss: 0.0539
Epoch 16/100
244/244 [==============================] - 0s 986us/step - loss: 0.0538
Epoch 17/100
244/244 [==============================] - 0s 958us/step - loss: 0.0525
Epoch 18/100
244/244 [==============================] - 0s 991us/step - loss: 0.0515
Epoch 19/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0505
Epoch 20/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0498
Epoch 21/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0488
Epoch 22/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0481
Epoch 23/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0471
Epoch 24/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0469
Epoch 25/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0464
Epoch 26/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0451
Epoch 27/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0453
Epoch 28/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0441
Epoch 29/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0432
Epoch 30/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0429
Epoch 31/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0421
Epoch 32/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0418
Epoch 33/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0413
Epoch 34/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0403
Epoch 35/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0395
Epoch 36/100
244/244 [==============================] - 0s 983us/step - loss: 0.0393
Epoch 37/100
244/244 [==============================] - 0s 984us/step - loss: 0.0386
Epoch 38/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0381
Epoch 39/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0377
Epoch 40/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0372
Epoch 41/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0364
Epoch 42/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0362
Epoch 43/100
244/244 [==============================] - 0s 984us/step - loss: 0.0355
Epoch 44/100
244/244 [==============================] - 0s 993us/step - loss: 0.0350
Epoch 45/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0346
Epoch 46/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0341
Epoch 47/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0341
Epoch 48/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0333
Epoch 49/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0329
Epoch 50/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0325
Epoch 51/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0319
Epoch 52/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0317
Epoch 53/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0313
Epoch 54/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0312
Epoch 55/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0309
Epoch 56/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0304
Epoch 57/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0303
Epoch 58/100
244/244 [==============================] - 0s 994us/step - loss: 0.0297
Epoch 59/100
244/244 [==============================] - 0s 966us/step - loss: 0.0299
Epoch 60/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0295
Epoch 61/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0290
Epoch 62/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0287
Epoch 63/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0285
Epoch 64/100
244/244 [==============================] - 0s 971us/step - loss: 0.0281
Epoch 65/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0281
Epoch 66/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0279
Epoch 67/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0277
Epoch 68/100
244/244 [==============================] - 0s 999us/step - loss: 0.0274
Epoch 69/100
244/244 [==============================] - 0s 989us/step - loss: 0.0271
Epoch 70/100
244/244 [==============================] - 0s 987us/step - loss: 0.0272
Epoch 71/100
244/244 [==============================] - 0s 962us/step - loss: 0.0268
Epoch 72/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0265
Epoch 73/100
244/244 [==============================] - 0s 990us/step - loss: 0.0259
Epoch 74/100
244/244 [==============================] - 0s 972us/step - loss: 0.0259
Epoch 75/100
244/244 [==============================] - 0s 983us/step - loss: 0.0262
Epoch 76/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0256
Epoch 77/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0256
Epoch 78/100
244/244 [==============================] - 0s 992us/step - loss: 0.0256
Epoch 79/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0250
Epoch 80/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0250
Epoch 81/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0251
Epoch 82/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0246
Epoch 83/100
244/244 [==============================] - 0s 996us/step - loss: 0.0246
Epoch 84/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0242
Epoch 85/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0242
Epoch 86/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0240
Epoch 87/100
244/244 [==============================] - 0s 986us/step - loss: 0.0239
Epoch 88/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0237
Epoch 89/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0234
Epoch 90/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0234
Epoch 91/100
244/244 [==============================] - 0s 977us/step - loss: 0.0236
Epoch 92/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0233
Epoch 93/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0231
Epoch 94/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0231
Epoch 95/100
244/244 [==============================] - 0s 993us/step - loss: 0.0228
Epoch 96/100
244/244 [==============================] - 0s 993us/step - loss: 0.0225
Epoch 97/100
244/244 [==============================] - 0s 974us/step - loss: 0.0224
Epoch 98/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0225
Epoch 99/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0224
Epoch 100/100
244/244 [==============================] - 0s 1ms/step - loss: 0.0220

In [22]:
model.evaluate([user_test, item_test], y_test)

61/61 [==============================] - 0s 445us/step - loss: 0.0899

0.08991076052188873

<h2> #1 PREDCIT RATINGS FOR USERS THAT HAVE ALREADY RATED THE DRAMAS AND COMPARE </h2>

In [23]:
user.head()

,user_id,overall_score,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,Drama,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
1,0,6.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
2,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
3,0,7.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
4,0,8.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0

In [24]:
uid = 0
user_vecs = user[user['user_id']== uid]

y_vecs = user_vecs['overall_score']
user_vecs = user_vecs.drop(['user_id', 'overall_score'], axis = 1)
y_vecs.head(30)

0     9.0
1     6.5
2     9.0
3     7.0
4     8.5
5     9.0
6     8.0
7     8.5
8     8.5
9     6.5
10    9.0
11    9.0
12    6.5
13    8.5
14    8.0
15    8.0
16    7.0
17    8.0
18    6.5
19    8.0
20    9.0
21    8.0
Name: overall_score, dtype: float64

In [25]:
user_vecs.head(30)

,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,Drama,Espionage,Family,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
1,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
2,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
3,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
4,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
6,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
7,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
8,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
9,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
10,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
11,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
12,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
13,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
14,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
15,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
16,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
17,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
18,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
19,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
20,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
21,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0

In [26]:
item.head()

,kdrama_id,drama_name,pop,rank,Action,Adult,Adventure,Anime,Comedy,Crime,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,1.0,Sing My Crush,2238.0,1484.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,32.0,Happy Merry Ending,1366.0,7632.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,51.0,Our Dating Sim,569.0,2185.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,80.0,The Director Who Buys Me Dinner,679.0,6529.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,84.0,Unlock My Boss,1088.0,2117.0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0

In [27]:
index_u = user_vecs.index.tolist()
item_vecs = item.iloc[index_u[0]:index_u[-1]+1,2:]
item_vecs.head(23)

,pop,rank,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,Drama,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,2238.0,1484.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,1366.0,7632.0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
2,569.0,2185.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,679.0,6529.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,1088.0,2117.0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
5,570.0,2870.0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
6,658.0,1903.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
7,163.0,395.0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
8,367.0,1715.0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
9,1195.0,5507.0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,1,0,0,0
10,148.0,1241.0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
11,79.0,122.0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
12,94.0,509.0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
13,345.0,341.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,171.0,423.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
15,100.0,81.0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,659.0,7633.0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
17,239.0,562.0,0,0,0,0,1,0,0,1,...,0,0,1,0,0,0,0,0,0,0
18,372.0,1413.0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
19,521.0,7137.0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
20,152.0,2300.0,0,0,0,0,1,0,0,1,...,0,0,1,0,0,0,0,0,0,0
21,19.0,595.0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [28]:





# scale our user and item vectors
suser_vecs = scalerUser.transform(user_vecs)
sitem_vecs = scalerItem.transform(item_vecs)

# make a prediction
y_p = model.predict([suser_vecs, sitem_vecs])

# unscale y prediction 
y_pu = scalerTarget.inverse_transform(y_p)


#

1/1 [==============================] - 0s 40ms/step

In [29]:
print(y_pu)

[[9.018528 ]
 [6.939753 ]
 [8.98087  ]
 [7.7372875]
 [8.788444 ]
 [8.2964115]
 [8.125534 ]
 [9.2931185]
 [8.640123 ]
 [6.5876303]
 [8.898846 ]
 [8.461033 ]
 [6.849948 ]
 [8.194017 ]
 [8.066369 ]
 [8.384446 ]
 [6.911785 ]
 [9.111548 ]
 [6.530284 ]
 [7.49252  ]
 [8.630753 ]
 [7.487232 ]]

In [30]:
# sort the results, highest prediction first
sorted_index = np.argsort(-y_pu,axis=0).reshape(-1).tolist()  
sorted_ypu   = y_pu[sorted_index]
v = item[['kdrama_id','drama_name']].iloc[index_u[0]:index_u[-1]+1,:]
sorted_items = v.reset_index(drop= True).iloc[sorted_index]
sorted_user  = user.iloc[sorted_index]


sorted_y = y_vecs.reset_index(drop = True).iloc[sorted_index]

In [31]:
type(sorted_ypu)
sorted_ypred = pd.DataFrame(sorted_ypu)
sorted_ypred.head(10)

          0
0  9.293118
1  9.111548
2  9.018528
3  8.980870
4  8.898846
5  8.788444
6  8.640123
7  8.630753
8  8.461033
9  8.384446

In [32]:

out = pd.concat([sorted_items, sorted_y], axis=1)
out['prediction_score'] = sorted_ypred.values

<h3> ACTUAL RATING V/S PREDICTED RATING </h3>

In [33]:
out.head(30)

,kdrama_id,drama_name,overall_score,prediction_score
7,150.0,Big Mouth,8.5,9.293118
17,300.0,Dali and the Cocky Prince,8.0,9.111548
0,1.0,Sing My Crush,9.0,9.018528
2,51.0,Our Dating Sim,9.0,8.980870
10,224.0,Semantic Error,9.0,8.898846
4,84.0,Unlock My Boss,8.5,8.788444
8,203.0,Blueming,8.5,8.640123
20,496.0,Where Your Eyes Linger,9.0,8.630753
11,225.0,Twenty-Five Twenty-One,9.0,8.461033
15,276.0,Happiness,8.0,8.384446
5,114.0,Roommates of Poongduck 304,9.0,8.296412
13,236.0,Ghost Doctor,8.5,8.194017
6,127.0,The Golden Spoon,8.0,8.125534
14,247.0,Bad and Crazy,8.0,8.066369
3,80.0,The Director Who Buys Me Dinner,7.0,7.737288
19,442.0,The School Nurse Files,8.0,7.492520
21,540.0,Itaewon Class,8.0,7.487232
1,32.0,Happy Merry Ending,6.5,6.939753
16,287.0,My Sweet Dear,7.0,6.911785
12,229.0,All of Us Are Dead,6.5,6.849948
9,223.0,Grid,6.5,6.587630
18,310.0,Lovers of the Red Sky,6.5,6.530284

<h2> #2 PREDICT DRAMA RATINGS FOR A NEW USER 
    SORTED by RATINGS (HIGHEST TO LOWEST) BASED ON WHICH GENRE HE/SHE PREFERS</h2>

In [34]:
drama_vecs = item.drop_duplicates(subset=['drama_name'])

In [35]:
drama_vecs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1104 entries, 0 to 9570
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   kdrama_id        1104 non-null   float64
 1   drama_name       1104 non-null   object
 2   pop              1104 non-null   float64
 3   rank             1104 non-null   float64
 4   Action           1104 non-null   int64
 5   Adult            1104 non-null   int64
 6   Adventure        1104 non-null   int64
 7   Anime            1104 non-null   int64
 8   Comedy           1104 non-null   int64
 9   Crime            1104 non-null   int64
 10  DIY              1104 non-null   int64
 11  Drama            1104 non-null   int64
 12  Espionage        1104 non-null   int64
 13  Family           1104 non-null   int64
 14  Fantasy          1104 non-null   int64
 15  Food             1104 non-null   int64
 16  Friendship       1104 non-null   int64
 17  Historical       1104 non-null   int64
 18  History          1104 non-null   int64
 19  Horror           1104 non-null   int64
 20  Law              1104 non-null   int64
 21  Legal            1104 non-null   int64
 22  Life             1104 non-null   int64
 23  Medical          1104 non-null   int64
 24  Military         1104 non-null   int64
 25  Music            1104 non-null   int64
 26  Mystery          1104 non-null   int64
 27  Psychological    1104 non-null   int64
 28  Romance          1104 non-null   int64
 29  Science-Fiction  1104 non-null   int64
 30  Sports           1104 non-null   int64
 31  Supernatural     1104 non-null   int64
 32  Thriller         1104 non-null   int64
 33  Travel           1104 non-null   int64
 34  War              1104 non-null   int64
 35  Youth            1104 non-null   int64
dtypes: float64(3), int64(32), object(1)
memory usage: 319.1+ KB

<h4>Create New User Vector</h4>

In [119]:
user.head()

,user_id,overall_score,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,Drama,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
1,0,6.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
2,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
3,0,7.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
4,0,8.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0

In [176]:
new_user_vecs = user.iloc[0:1]

In [177]:
new_user_vecs = new_user_vecs*0

In [178]:
new_user_vecs.head()

,user_id,overall_score,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,Drama,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

<h4>Inititalize which genre the new user prefers.</h4>

In [179]:

new_user_vecs['Thriller'] = 9
new_user_vecs['Horror'] = 10
new_user_vecs['Supernatural'] = 10
new_user_vecs['Science-Fiction'] = 10

In [180]:
row_array = new_user_vecs.values
repeated_array = np.tile(row_array, (len(drama_vecs), 1))

In [181]:
new_user_vecs = pd.DataFrame(
    repeated_array, 
    columns=new_user_vecs.columns
)

In [182]:
new_user_vecs = new_user_vecs.drop(['user_id', 'overall_score'], axis = 1)

<h4> Scale and Predict</h4>

In [183]:
snuser_vecs = scalerUser.transform(new_user_vecs)
snitem_vecs = scalerItem.transform(drama_vecs.iloc[:,2:])

In [184]:
y_p = model.predict([snuser_vecs, snitem_vecs])

# unscale y prediction 
y_pu = scalerTarget.inverse_transform(y_p)

35/35 [==============================] - 0s 480us/step

In [185]:

sorted_index = np.argsort(-y_pu,axis=0).reshape(-1).tolist()  
sorted_ypu   = y_pu[sorted_index]
sorted_ypu = pd.DataFrame(sorted_ypu)
sorted_items = drama_vecs.iloc[sorted_index]

In [186]:
result = sorted_items.iloc[:,1:4]

In [187]:
result['predicted_ratings'] = sorted_ypu.values

<h4> Import CSV with drama name and genre</h4>

In [188]:
drama_with_genre = pd.read_csv('data_preprocessing/korean_drama_complete.csv')

In [189]:
drama_with_genre.head()

,kdrama_id,drama_name,year,director,screenwriter,country,type,tot_eps,duration,start_dt,end_dt,aired_on,org_net,content_rt,synopsis,rank,pop,Genre,Genre_Source
0,661d4193916c4e71a2c70473ab11e9e8,Sing My Crush,2023,['So Joon Moon'],NaN,South Korea,Drama,8,1500.0,"Aug 2, 2023","Aug 2, 2023",Wednesday,NaN,Not Yet Rated,Follow the story of acquaintances Ba Ram and H...,1484,2238,"Romance, Music",Predefined
1,5ffcbeaa17114714af1959129984274c,D.P. Season 2,2023,NaN,['Kim Bo Tong'],South Korea,Drama,6,3000.0,"Jul 28, 2023","Jul 28, 2023",Friday,Netflix,15+ - Teens 15 or older,This unfolding story ensues when military dese...,164,1084,"Action, Drama, Military",Predefined
2,65075cb9c1a54be4a441cee6f16c9fdf,Shadow Detective Season 2,2023,['Han Dong Hwa'],"['Song Jung Woo', 'Hwang Seol Hun']",South Korea,Drama,8,3300.0,2023-07-05,2023-07-26,Wednesday,Disney+ Hulu,15+ - Teens 15 or older,Unfolds the ultimate counterattack of veteran ...,2443,6915,"Crime, Mystery, Thriller",Predefined
3,df0f0ac4b3ff4b15afa26f5a7a53a328,To Be Honest,2023,NaN,NaN,South Korea,Drama,3,600.0,2023-06-30,2023-07-14,Friday,NaN,Not Yet Rated,Don't you have those days where the whole univ...,49895,99999,"Drama, Romance",Predefined
4,04c1fe41948e464fb440001831d74d41,Celebrity,2023,['Kim Chul Gyu'],['Kim Yi Young'],South Korea,Drama,12,2700.0,"Jun 30, 2023","Jun 30, 2023",Friday,Netflix,18+ Restricted (violence & profanity),Fame. Money. Power. One young woman fights to ...,826,547,"Drama, Thriller",Predefined

In [190]:
merged_result = pd.merge(
    result, 
    drama_with_genre[['drama_name', 'Genre']], 
    on='drama_name', 
    how='left'
)

In [191]:
merged_result = merged_result[['drama_name', 'Genre', 'pop', 'rank', 'predicted_ratings']]

<h3> RATINGS PREDICTION FOR A NEW USER </h3>

In [192]:
merged_result.head(50)

,drama_name,Genre,pop,rank,predicted_ratings
0,The Guest,Thriller,317.0,205.0,9.648039
1,Unlock My Boss,"Comedy, Fantasy, Thriller",1088.0,2117.0,9.646813
2,Jang Young Shil,"Drama, History",5614.0,3655.0,9.629194
3,Happiness,"Comedy, Music",100.0,81.0,9.595367
4,Mad Dog,"Drama, Crime, Mystery",359.0,759.0,9.477698
5,Chimera,"Drama, Crime, Mystery",1661.0,1595.0,9.443557
6,Save Me,"Drama, Crime, Mystery",117.0,473.0,9.375990
7,Poetry Story,"Music, History",13713.0,47043.0,9.324149
8,Life on Mars,"Drama, Crime, Supernatural",406.0,169.0,9.315700
9,"Poong, the Joseon Psychiatrist","Drama, Comedy, Medical",1474.0,2243.0,9.264282
10,Doctor Prisoner,"Drama, Crime, Medical",591.0,775.0,9.222878
11,Defendant,"Thriller, Legal",380.0,210.0,9.212776
12,My Country: The New Age,"Drama, History",558.0,730.0,9.204226
13,The Crowned Clown,"Drama, History",412.0,708.0,9.197713
14,Rebel: Thief Who Stole the People,"Drama, History",803.0,410.0,9.183952
15,Vampire Detective,"Drama, Crime, Fantasy",913.0,5747.0,9.176447
16,Uncle,Comedy,3101.0,1554.0,9.167578
17,Dr. Brain,"Drama, Science-Fiction, Thriller",2068.0,2458.0,9.165579
18,Less Than Evil,"Drama, Crime, Mystery",2772.0,2281.0,9.123812
19,Late Night Restaurant,"Drama, Food, Mystery",3914.0,3327.0,9.121973
20,The Nokdu Flower,"Drama, History",1515.0,985.0,9.095976
21,Heart Surgeons,"Drama, Medical",2859.0,2204.0,9.082735
22,Unicorn,Comedy,4163.0,5598.0,9.056401
23,Dream Knight,"Fantasy, Music",642.0,6781.0,9.052445
24,Sell Your Haunted House,"Comedy, Supernatural",468.0,766.0,9.050961
25,Sweet Home,"Horror, Thriller, Fantasy",59.0,229.0,9.050552
26,Oh! Dear Half-Basement Goddesses,"Drama, Comedy, Fantasy",8806.0,51068.0,9.049422
27,The Promise,Drama,3441.0,4268.0,9.039462
28,The Running Mates: Human Rights,"Drama, Crime",6445.0,6271.0,9.039101
29,Doctor Detective,"Drama, Medical",3607.0,3881.0,9.036648
30,Prison Playbook,"Drama, Comedy",93.0,46.0,9.036309
31,Train,"Drama, Science-Fiction, Thriller",653.0,707.0,9.034349
32,The King of Pigs,"Drama, Thriller, Mystery",1197.0,231.0,9.029104
33,Extraordinary Attorney Woo,"Drama, Comedy",55.0,60.0,9.026364
34,Cleaning Up,Drama,3760.0,4945.0,9.015148
35,Mrs. Cop,"Drama, Crime, Thriller",2253.0,2519.0,9.009212
36,Memory,"Drama, Thriller",1806.0,1007.0,8.991343
37,CHIP-IN,Music,3243.0,3155.0,8.985775
38,Designated Survivor: 60 Days,"Drama, Thriller",937.0,400.0,8.983003
39,Idol: The Coup,"Drama, Music",1566.0,1647.0,8.960921
40,My Dangerous Wife,"Drama, Crime, Thriller",3228.0,3232.0,8.960817
41,The Fiery Priest,"Drama, Mystery",404.0,237.0,8.951133
42,Dr. Park’s Clinic,"Drama, Comedy, Medical",5741.0,3633.0,8.942622
43,"Work Later, Drink Now","Drama, Comedy",825.0,561.0,8.940900
44,Eulachacha Waikiki,"Drama, Comedy",111.0,346.0,8.939529
45,Misty,"Drama, Thriller, Legal",1179.0,975.0,8.938304
46,Recipe for Farewell,Drama,3744.0,636.0,8.934648
47,Delayed Justice,"Drama, Legal",4725.0,3691.0,8.934603
48,Player,Comedy,677.0,778.0,8.934355
49,Live,"Drama, Thriller",574.0,279.0,8.931727

<h2> #3 SHOW SIMILAR DRAMAS </h2>

In [50]:
input_item_m = tf.keras.layers.Input(shape=(num_item_features))
vm_m = item_NN(input_item_m)                                       # use the trained item_NN
vm_m = tf.linalg.l2_normalize(vm_m, axis=1)                        
model_m = tf.keras.Model(input_item_m, vm_m)                                
model_m.summary()

Model: "model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_3 (InputLayer)        [(None, 34)]              0

 sequential_1 (Sequential)   (None, 32)                45984

 tf.math.l2_normalize_2 (TF  (None, 32)                0
 OpLambda)

=================================================================
Total params: 45984 (179.62 KB)
Trainable params: 45984 (179.62 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [67]:
drama_vecs.head()

,kdrama_id,drama_name,pop,rank,Action,Adult,Adventure,Anime,Comedy,Crime,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,1.0,Sing My Crush,2238.0,1484.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,32.0,Happy Merry Ending,1366.0,7632.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,51.0,Our Dating Sim,569.0,2185.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,80.0,The Director Who Buys Me Dinner,679.0,6529.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,84.0,Unlock My Boss,1088.0,2117.0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0

In [55]:
scaled_item_vecs = scalerItem.transform(drama_vecs.iloc[:,2:])
vms = model_m.predict(scaled_item_vecs)
print(f"size of all predicted movie feature vectors: {vms.shape}")

35/35 [==============================] - 0s 414us/step
size of all predicted movie feature vectors: (1104, 32)

In [92]:
drama_with_genre.head()

,kdrama_id,drama_name,year,director,screenwriter,country,type,tot_eps,duration,start_dt,end_dt,aired_on,org_net,content_rt,synopsis,rank,pop,Genre,Genre_Source
0,661d4193916c4e71a2c70473ab11e9e8,Sing My Crush,2023,['So Joon Moon'],NaN,South Korea,Drama,8,1500.0,"Aug 2, 2023","Aug 2, 2023",Wednesday,NaN,Not Yet Rated,Follow the story of acquaintances Ba Ram and H...,1484,2238,"Romance, Music",Predefined
1,5ffcbeaa17114714af1959129984274c,D.P. Season 2,2023,NaN,['Kim Bo Tong'],South Korea,Drama,6,3000.0,"Jul 28, 2023","Jul 28, 2023",Friday,Netflix,15+ - Teens 15 or older,This unfolding story ensues when military dese...,164,1084,"Action, Drama, Military",Predefined
2,65075cb9c1a54be4a441cee6f16c9fdf,Shadow Detective Season 2,2023,['Han Dong Hwa'],"['Song Jung Woo', 'Hwang Seol Hun']",South Korea,Drama,8,3300.0,2023-07-05,2023-07-26,Wednesday,Disney+ Hulu,15+ - Teens 15 or older,Unfolds the ultimate counterattack of veteran ...,2443,6915,"Crime, Mystery, Thriller",Predefined
3,df0f0ac4b3ff4b15afa26f5a7a53a328,To Be Honest,2023,NaN,NaN,South Korea,Drama,3,600.0,2023-06-30,2023-07-14,Friday,NaN,Not Yet Rated,Don't you have those days where the whole univ...,49895,99999,"Drama, Romance",Predefined
4,04c1fe41948e464fb440001831d74d41,Celebrity,2023,['Kim Chul Gyu'],['Kim Yi Young'],South Korea,Drama,12,2700.0,"Jun 30, 2023","Jun 30, 2023",Friday,Netflix,18+ Restricted (violence & profanity),Fame. Money. Power. One young woman fights to ...,826,547,"Drama, Thriller",Predefined

<h4>DRAMAS SIMILAR TO THE TOP 50 DRAMAS SORTED BY POPULARITY</h4>

In [109]:
sorted_indices = drama_vecs['pop'].argsort() #sort dramas by popularity


vms = vms[sorted_indices] #vms stores drama feature vectors - shape(1104,32) 1104 dramas each has 32 feature vectors
drama_vecs = drama_vecs.iloc[sorted_indices].reset_index(drop=True)  #drama_vecs stores drama with their features. sorted accdording to pop

count = 50  # number of dramas to display
dim = len(vms)
dist = np.zeros((dim,dim))

for i in range(dim):      #calcualte square distance between dramas
    for j in range(dim):
        dist[i,j] = np.sum((vms[i,:] - vms [j, :])**2) #single j loop calculates dist between two dramas, a single i loop calculates dist between one drama and all the remaining dramas
                                                       #the distances between a single drama and all remaining dramas are stored in a single row.  
m_dist = ma.masked_array(dist, mask=np.identity(dist.shape[0]))  # mask the diagonal since the diagonals will have 0 values as they're the dist betn same drama

disp = [["movie1", "genre1", "movie2", "genre2"]]
for i in range(count):
    min_idx = np.argmin(m_dist[i])  #finds the index of the minimum number in ith row. 
    drama1_id = int(drama_vecs.iloc[i,0])
    drama2_id = int(drama_vecs.iloc[min_idx,0]) 
    name1 = drama_vecs[drama_vecs['kdrama_id'] == drama1_id]['drama_name'].iloc[0]
    name2 = drama_vecs[drama_vecs['kdrama_id'] == drama2_id]['drama_name'].iloc[0]
    
    genre1 = drama_with_genre[drama_with_genre['drama_name'] == name1]['Genre'].iloc[0]
    
    genre2 = drama_with_genre[drama_with_genre['drama_name'] == name2]['Genre'].iloc[0]

    disp.append([name1, genre1, name2, genre2])
table = tabulate.tabulate(disp, tablefmt='html', headers="firstrow")
table

'<table>\n<thead>\n<tr><th>movie1                         </th><th>genre1                         </th><th>movie2                         </th><th>genre2                         </th></tr>\n</thead>\n<tbody>\n<tr><td>Goblin                         </td><td>Drama, Fantasy, Romance        </td><td>It&#x27;s Okay to Not Be Okay       </td><td>Drama, Fantasy, Romance        </td></tr>\n<tr><td>Strong Woman Do Bong Soon      </td><td>Comedy, Action, Fantasy        </td><td>Poetry Story                   </td><td>Music, History                 </td></tr>\n<tr><td>Weightlifting Fairy Kim Bok Joo</td><td>Drama, Romance, Sports         </td><td>Run On                         </td><td>Drama, Romance, Sports         </td></tr>\n<tr><td>Descendants of the Sun         </td><td>Drama, Romance, Medical        </td><td>Dr. Romantic                   </td><td>Drama, Romance, Medical        </td></tr>\n<tr><td>What&#x27;s Wrong with Secretary Kim</td><td>Drama, Romance                 </td><td>Fight for My Way               </td><td>Drama, Romance                 </td></tr>\n<tr><td>W                              </td><td>Crime, Mystery, Thriller       </td><td>The Smile Has Left Your Eyes   </td><td>Crime, Thriller, Mystery       </td></tr>\n<tr><td>It&#x27;s Okay to Not Be Okay       </td><td>Drama, Fantasy, Romance        </td><td>Goblin                         </td><td>Drama, Fantasy, Romance        </td></tr>\n<tr><td>Crash Landing on You           </td><td>Romance, Comedy, Drama         </td><td>Reply 1988                     </td><td>Drama, Comedy, Romance         </td></tr>\n<tr><td>Hotel del Luna                 </td><td>Drama, Fantasy, Romance        </td><td>Goblin                         </td><td>Drama, Fantasy, Romance        </td></tr>\n<tr><td>While You Were Sleeping        </td><td>Fantasy, Romance, Legal        </td><td>You I Didn&#x27;t Know              </td><td>Comedy, Romance                </td></tr>\n<tr><td>Moon Lovers: Scarlet Heart Ryeo</td><td>Fantasy, Romance, History      </td><td>Touch Your Heart               </td><td>Comedy, Romance, Legal         </td></tr>\n<tr><td>Vincenzo                       </td><td>Crime, Comedy, Drama           </td><td>Bring It On, Ghost             </td><td>Drama, Comedy, Fantasy         </td></tr>\n<tr><td>The Legend of the Blue Sea     </td><td>Comedy, Fantasy, Romance       </td><td>Angel&#x27;s Last Mission: Love     </td><td>Comedy, Fantasy, Romance       </td></tr>\n<tr><td>Itaewon Class                  </td><td>Drama                          </td><td>The World of the Married       </td><td>Drama                          </td></tr>\n<tr><td>I&#x27;m Not a Robot                </td><td>Drama, Romance, Science-Fiction</td><td>My Holo Love                   </td><td>Drama, Romance, Science-Fiction</td></tr>\n<tr><td>Fight for My Way               </td><td>Drama, Romance                 </td><td>What&#x27;s Wrong with Secretary Kim</td><td>Drama, Romance                 </td></tr>\n<tr><td>A Business Proposal            </td><td>Romance, Comedy                </td><td>Hometown Cha-Cha-Cha           </td><td>Romance, Comedy                </td></tr>\n<tr><td>True Beauty                    </td><td>Drama, Comedy, Romance         </td><td>Oh My Ghost                    </td><td>Drama, Comedy, Romance         </td></tr>\n<tr><td>Squid Game                     </td><td>Action, Thriller, Drama        </td><td>Vagabond                       </td><td>Drama, Action, Thriller        </td></tr>\n<tr><td>My ID Is Gangnam Beauty        </td><td>Drama, Romance                 </td><td>Abyss                          </td><td>Drama, Romance                 </td></tr>\n<tr><td>Suspicious Partner             </td><td>Comedy, Romance, Thriller      </td><td>When the Camellia Blooms       </td><td>Comedy, Romance, Thriller      </td></tr>\n<tr><td>Her Private Life               </td><td>Drama, Comedy, Romance         </td><td>True Beauty                    </td><td>Drama, Comedy, Romance         </td></tr>\n<tr><td>Flower of Evil                 </td><td>Crime, Romance, Thriller       </td><td>Missing Noir M                 </td><td>Action, Crime, Thriller        </td></tr>\n<tr><td>Kill Me, Heal Me               </td><td>Comedy, Romance, Medical       </td><td>Heart to Heart                 </td><td>Comedy, Romance, Medical       </td></tr>\n<tr><td>Extraordinary You              </td><td>Drama, Romance                 </td><td>Search: WWW                    </td><td>Drama, Romance                 </td></tr>\n<tr><td>She Was Pretty                 </td><td>Drama, Comedy, Romance         </td><td>Memories of the Alhambra       </td><td>Drama, Comedy, Romance         </td></tr>\n<tr><td>Because This Is My First Life  </td><td>Drama, Comedy, Romance         </td><td>Her Private Life               </td><td>Drama, Comedy, Romance         </td></tr>\n<tr><td>Cinderella and the Four Knights</td><td>Drama, Comedy, Romance         </td><td>Clean with Passion for Now     </td><td>Drama, Comedy, Romance         </td></tr>\n<tr><td>Love Alarm                     </td><td>Drama, Romance                 </td><td>Nevertheless,                  </td><td>Drama, Romance                 </td></tr>\n<tr><td>The K2                         </td><td>Drama, Action                  </td><td>Police University              </td><td>Drama, Action                  </td></tr>\n<tr><td>Romance Is a Bonus Book        </td><td>Drama, Comedy, Romance         </td><td>Shopping King Louie            </td><td>Drama, Comedy, Romance         </td></tr>\n<tr><td>Cheese in the Trap             </td><td>Drama, Comedy, Romance         </td><td>My Secret Romance              </td><td>Drama, Comedy, Romance         </td></tr>\n<tr><td>Reply 1988                     </td><td>Drama, Comedy, Romance         </td><td>Crash Landing on You           </td><td>Romance, Comedy, Drama         </td></tr>\n<tr><td>Hometown Cha-Cha-Cha           </td><td>Romance, Comedy                </td><td>A Business Proposal            </td><td>Romance, Comedy                </td></tr>\n<tr><td>The King: Eternal Monarch      </td><td>Drama, Fantasy, Romance        </td><td>Tomorrow With You              </td><td>Drama, Fantasy, Romance        </td></tr>\n<tr><td>Hwarang                        </td><td>Drama, Romance, History        </td><td>Top Management                 </td><td>Drama, Romance                 </td></tr>\n<tr><td>Oh My Venus                    </td><td>Drama, Comedy, Romance         </td><td>Oh My Ghost                    </td><td>Drama, Comedy, Romance         </td></tr>\n<tr><td>Touch Your Heart               </td><td>Comedy, Romance, Legal         </td><td>Moon Lovers: Scarlet Heart Ryeo</td><td>Fantasy, Romance, History      </td></tr>\n<tr><td>Oh My Ghost                    </td><td>Drama, Comedy, Romance         </td><td>True Beauty                    </td><td>Drama, Comedy, Romance         </td></tr>\n<tr><td>Hospital Playlist              </td><td>Drama, Medical                 </td><td>Doctor John                    </td><td>Drama, Medical                 </td></tr>\n<tr><td>Start-Up                       </td><td>Drama, Romance                 </td><td>Uncontrollably Fond            </td><td>Drama, Romance                 </td></tr>\n<tr><td>Tale of the Nine-Tailed        </td><td>Drama, Thriller, Supernatural  </td><td>Shining Na Ra                  </td><td>Comedy, Fantasy                </td></tr>\n<tr><td>Extraordinary Attorney Woo     </td><td>Drama, Comedy                  </td><td>Prison Playbook                </td><td>Drama, Comedy                  </td></tr>\n<tr><td>A Korean Odyssey               </td><td>Comedy, Fantasy, Romance       </td><td>The Legend of the Blue Sea     </td><td>Comedy, Fantasy, Romance       </td></tr>\n<tr><td>Sweet Home                     </td><td>Horror, Thriller, Fantasy      </td><td>Life on Mars                   </td><td>Drama, Crime, Supernatural     </td></tr>\n<tr><td>The Bride of Habaek            </td><td>Drama, Fantasy, Romance        </td><td>Melting Me Softly              </td><td>Drama, Fantasy, Romance        </td></tr>\n<tr><td>Doom at Your Service           </td><td>Drama, Fantasy, Romance        </td><td>My Roommate Is a Gumiho        </td><td>Drama, Fantasy, Romance        </td></tr>\n<tr><td>My Secret Romance              </td><td>Drama, Comedy, Romance         </td><td>Clean with Passion for Now     </td><td>Drama, Comedy, Romance         </td></tr>\n<tr><td>Abyss                          </td><td>Drama, Romance                 </td><td>My ID Is Gangnam Beauty        </td><td>Drama, Romance                 </td></tr>\n<tr><td>He Is Psychometric             </td><td>Drama, Romance, Supernatural   </td><td>Matching! Boys Archery         </td><td>Comedy, Romance                </td></tr>\n</tbody>\n</table>'

In [207]:
def find_similar_dramas( n=5):

    drama_name = input("Enter Drama Name:").strip()
    
    
    if drama_name.lower() not in drama_vecs['drama_name'].str.lower().values:
        print(f"Drama '{drama_name}' not found!")
        return None
    
    
    drama_idx = drama_vecs[drama_vecs['drama_name'].str.lower() == drama_name.lower()].index[0]    #finds which row the drama is in
   
    similar_indices = np.argsort(m_dist[drama_idx])[:n] #find index of n lowest numbers from m_dist of the given drama row
    
    
    print(f"\nTop {n} dramas similar to '{drama_name}':\n")
    for rank, idx in enumerate(similar_indices, 1):
        name = drama_vecs.iloc[idx]['drama_name']
        genre = drama_with_genre[drama_with_genre['drama_name'] == name]['Genre'].iloc[0]
        distance = m_dist[drama_idx][idx]
        print(f"{rank}. {name} ({genre}) - Distance: {distance:.4f}")

In [212]:
find_similar_dramas(10)

Enter Drama Name: true beauty

Top 10 dramas similar to 'true beauty':

1. Oh My Ghost (Drama, Comedy, Romance) - Distance: 0.0001
2. Her Private Life (Drama, Comedy, Romance) - Distance: 0.0004
3. Oh My Venus (Drama, Comedy, Romance) - Distance: 0.0007
4. Because This Is My First Life (Drama, Comedy, Romance) - Distance: 0.0025
5. Another Miss Oh (Drama, Comedy, Romance) - Distance: 0.0037
6. Age of Youth (Drama, Comedy, Romance) - Distance: 0.0074
7. Shopping King Louie (Drama, Comedy, Romance) - Distance: 0.0088
8. Our Beloved Summer (Drama, Comedy, Romance) - Distance: 0.0091
9. Romance Is a Bonus Book (Drama, Comedy, Romance) - Distance: 0.0105
10. Dali and the Cocky Prince (Comedy,  Romance,  Drama ) - Distance: 0.0106