In [63]:
import pandas as pd

In [64]:
df = pd.read_csv('archive/reviews.csv')

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10625 entries, 0 to 10624
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10625 non-null  object
 1   title                10625 non-null  object
 2   story_score          10625 non-null  float64
 3   acting_cast_score    10625 non-null  float64
 4   music_score          10625 non-null  float64
 5   rewatch_value_score  10625 non-null  float64
 6   overall_score        10625 non-null  float64
 7   review_text          10619 non-null  object
 8   ep_watched           10625 non-null  object
 9   n_helpful            10625 non-null  int64
dtypes: float64(5), int64(1), object(4)
memory usage: 830.2+ KB

In [66]:
df.head()

,user_id,title,story_score,acting_cast_score,music_score,rewatch_value_score,overall_score,review_text,ep_watched,n_helpful
0,c8ffdab3f2a338eeb54b265598dbbb55,Sing My Crush,9.0,9.0,10.0,9.0,9.0,the Best Song from my Crush This will now ran...,8 of 8 episodes seen,23
1,c8ffdab3f2a338eeb54b265598dbbb55,Happy Merry Ending,5.0,7.0,9.0,4.0,6.5,I'm Happy and Merry That it Ended Quickly The ...,8 of 8 episodes seen,31
2,c8ffdab3f2a338eeb54b265598dbbb55,Duty After School: Part 2,4.0,9.0,3.0,1.0,4.0,This PART 2 Should Never Have Happened If you...,4 of 4 episodes seen,121
3,c8ffdab3f2a338eeb54b265598dbbb55,Our Dating Sim,9.0,9.5,9.0,9.0,9.0,I want to play this dating sim! I want to pla...,8 of 8 episodes seen,79
4,c8ffdab3f2a338eeb54b265598dbbb55,The Director Who Buys Me Dinner,7.5,8.5,7.0,6.0,7.0,"Half-Cooked, Dont Eat A hard pass, unless som...",10 of 10 episodes seen,66

In [67]:
df = df.drop(['story_score', 'acting_cast_score', 'music_score', 'rewatch_value_score','ep_watched', 'n_helpful'],axis = 1)

In [68]:
df.head(10)

,user_id,title,overall_score,review_text
0,c8ffdab3f2a338eeb54b265598dbbb55,Sing My Crush,9.0,the Best Song from my Crush This will now ran...
1,c8ffdab3f2a338eeb54b265598dbbb55,Happy Merry Ending,6.5,I'm Happy and Merry That it Ended Quickly The ...
2,c8ffdab3f2a338eeb54b265598dbbb55,Duty After School: Part 2,4.0,This PART 2 Should Never Have Happened If you...
3,c8ffdab3f2a338eeb54b265598dbbb55,Our Dating Sim,9.0,I want to play this dating sim! I want to pla...
4,c8ffdab3f2a338eeb54b265598dbbb55,The Director Who Buys Me Dinner,7.0,"Half-Cooked, Dont Eat A hard pass, unless som..."
5,c8ffdab3f2a338eeb54b265598dbbb55,Unlock My Boss,8.5,Satisfying series! Highly reccomended.Binged w...
6,c8ffdab3f2a338eeb54b265598dbbb55,Roommates of Poongduck 304,9.0,"MATES of Poongduck Cute litttle series, the w..."
7,c8ffdab3f2a338eeb54b265598dbbb55,The Golden Spoon,8.0,RUSTED SPOONS The biggest flaw of the story i...
8,c8ffdab3f2a338eeb54b265598dbbb55,Big Mouth,8.5,RUSHED ENDING (ALMOST) RUINED THE SERIES Big ...
9,c8ffdab3f2a338eeb54b265598dbbb55,Blueming,8.5,FULLY BLOOMED I have to commend the show for ...

In [69]:
m  = df['user_id'].shape[0]
uid = df['user_id'].tolist()

In [70]:
count = 0 
for i in range(1, m):
    if uid[i] == uid[i-1]:
        df.loc[i, 'user_id'] = count
    else:
        count += 1
        df.loc[i, 'user_id'] = count

In [71]:
df.loc[0, 'user_id'] = 0

In [72]:
df.head(50)

,user_id,title,overall_score,review_text
0,0,Sing My Crush,9.0,the Best Song from my Crush This will now ran...
1,0,Happy Merry Ending,6.5,I'm Happy and Merry That it Ended Quickly The ...
2,0,Duty After School: Part 2,4.0,This PART 2 Should Never Have Happened If you...
3,0,Our Dating Sim,9.0,I want to play this dating sim! I want to pla...
4,0,The Director Who Buys Me Dinner,7.0,"Half-Cooked, Dont Eat A hard pass, unless som..."
5,0,Unlock My Boss,8.5,Satisfying series! Highly reccomended.Binged w...
6,0,Roommates of Poongduck 304,9.0,"MATES of Poongduck Cute litttle series, the w..."
7,0,The Golden Spoon,8.0,RUSTED SPOONS The biggest flaw of the story i...
8,0,Big Mouth,8.5,RUSHED ENDING (ALMOST) RUINED THE SERIES Big ...
9,0,Blueming,8.5,FULLY BLOOMED I have to commend the show for ...
10,0,Grid,6.5,"AFTER EVERYTHING, NOTHING MADE SENSE Talk abo..."
11,0,Semantic Error,9.0,Illogically addicting!Lets be objective for a ...
12,0,Twenty-Five Twenty-One,9.0,"BUT SERIOUSLY, WHAT IS WITH THAT ENDING??? Do..."
13,0,All of Us Are Dead,6.5,You need to be a zombie to enjoy this Whew! W...
14,0,Ghost Doctor,8.5,It started out as a must watch weekly show bu...
15,0,Bad and Crazy,8.0,CRAZY GOOD Crazy good performance! 2 thumbs u...
16,0,Happiness,8.0,"WARNING, THIS IS DRAMA NOT HORROR For those w..."
17,0,My Sweet Dear,7.0,"TOO SHORT! Its not short and sweet, it is too..."
18,0,Dali and the Cocky Prince,8.0,"WE NEED MORE OF THIS Light, heartwarming and ..."
19,0,Lovers of the Red Sky,6.5,Charming but Ridiculously Ridiculous Watching...
20,0,Wish You: Your Melody From My Heart,8.0,I WANT MORE! What others think as its weaknes...
21,0,The School Nurse Files,8.0,"NETFLIX, GIVE US SEASON2 NOW!!! Ok let me ge..."
22,0,Where Your Eyes Linger,9.0,"MORE MORE MORE Good story, good pacing, cute ..."
23,0,Itaewon Class,8.0,Is SEO-JOON enough for you to watch a series? ...
24,1,Sing My Crush,9.0,Second Wind A refreshingly cool wind that ble...
25,1,Star Struck,7.5,More like a glimmer rather than being starstru...
26,1,Happy Merry Ending,6.0,"They got their ""Happy Merry Ending,"" but what ..."
27,1,The Eighth Sense,10.0,Blooming like Blueming The Eighth Sense was a...
28,1,Individual Circumstances,8.0,Why did the wind have to blow right then? I k...
29,1,The Director Who Buys Me Dinner,6.5,Just . . . Bad. I wanted to like this. I real...
30,1,Happy Ending Romance,8.0,An Empty Space It's definitely a quality dram...
31,1,Summer Strike,7.5,Tumbling down a rabbit hole of problems Was i...
32,1,Roommates of Poongduck 304,8.5,Throwback to Classic K-Dramas This was fun!It...
33,1,Bad Girlfriend,6.5,Come on. Really? Where do I begin? This feeds...
34,1,Color Rush Season 2,6.5,They tried? I feel bad that I'm giving it suc...
35,1,Life,9.0,"Not for everyone, but it was for me. This was..."
36,2,Sing My Crush,9.0,Sing it loud for another cute Korean BL First...
37,2,Choco Milk Shake,9.5,Strongberry does it again and we definitely ne...
38,2,Bad Prosecutor,9.0,A funny thriller that tugs at the heartstrings...
39,2,One Dollar Lawyer,8.0,a 16 part drama turned into rushed 12 part dra...
40,3,Sing My Crush,9.0,"it's a cute healing kbl drama Oh My god, I lo..."
41,4,Sing My Crush,10.0,"Beautiful ""Sing My Crush"" is an absolute gem ..."
42,5,Sing My Crush,9.0,Another good K-BL drama!! Actually I didn't k...
43,5,Brain Works,9.0,I quite enjoyed watching this drama!It's worth...
44,6,Sing My Crush,8.5,"enjoyable KBL Overall: this is a nice KBL, th..."
45,6,Love Tractor,9.0,well done countryside K-BL Overall: although ...
46,6,Star Struck,7.0,could have been amazing Overall: this had a s...
47,6,Love Mate,6.5,aggressive pursuer/reluctant pursuee Overall:...
48,6,Happy Merry Ending,7.0,too many side characters/plot Overall: this f...
49,6,The Eighth Sense,9.5,a must watch series Overall: this series is u...

In [59]:
df_item = df[['title']]

In [60]:
df_item.to_csv('item.csv', index=False, encoding='utf-8-sig')

In [73]:
df.shape

(10625, 4)

In [74]:
df2 = pd.read_csv('final_item.csv')

In [75]:
df2.shape

(9748, 36)

In [77]:
valid_titles = df2['drama_name'].unique()

df = df[df['title'].isin(valid_titles)]

In [78]:
df.shape

(9748, 4)

In [83]:
df = df.drop(['review_text'], axis = 1)

In [84]:
df.head(30)

   user_id                            title  overall_score
0        0                    Sing My Crush            9.0
1        0               Happy Merry Ending            6.5
3        0                   Our Dating Sim            9.0
4        0  The Director Who Buys Me Dinner            7.0
5        0                   Unlock My Boss            8.5
6        0       Roommates of Poongduck 304            9.0
7        0                 The Golden Spoon            8.0
8        0                        Big Mouth            8.5
9        0                         Blueming            8.5
10       0                             Grid            6.5
11       0                   Semantic Error            9.0
12       0           Twenty-Five Twenty-One            9.0
13       0               All of Us Are Dead            6.5
14       0                     Ghost Doctor            8.5
15       0                    Bad and Crazy            8.0
16       0                        Happiness            8.0
17       0                    My Sweet Dear            7.0
18       0        Dali and the Cocky Prince            8.0
19       0            Lovers of the Red Sky            6.5
21       0           The School Nurse Files            8.0
22       0           Where Your Eyes Linger            9.0
23       0                    Itaewon Class            8.0
24       1                    Sing My Crush            9.0
25       1                      Star Struck            7.5
26       1               Happy Merry Ending            6.0
27       1                 The Eighth Sense           10.0
28       1         Individual Circumstances            8.0
29       1  The Director Who Buys Me Dinner            6.5
30       1             Happy Ending Romance            8.0
31       1                    Summer Strike            7.5

In [94]:
ratings = df
genres = df2

# Merge (specify left and right column names)
merged = ratings.merge(genres, left_on='title', right_on='drama_name')

# Get genre columns (all except 'drama_name')
genre_cols = [col for col in genres.columns if col != ['drama_name','kdrama_id','pop','rank']]

# Calculate averages per user per genre
result = {}
for genre in genre_cols:
    avg = merged[merged[genre] == 1].groupby('user_id')['overall_score'].mean()
    result[genre] = avg

# Create dataframe
result_df = pd.DataFrame(result).reset_index()

In [95]:
result_df.head()

,user_id,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,Drama,Espionage,...,Sports,Supernatural,Thriller,Travel,War,Youth,drama_name,kdrama_id,pop,rank
0,0,8.0,NaN,NaN,NaN,8.333333,NaN,NaN,7.807692,NaN,...,NaN,8.0,7.5,NaN,NaN,NaN,NaN,9.0,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,9.0,NaN,7.888889,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN
2,2,NaN,NaN,NaN,NaN,9.500000,NaN,NaN,8.833333,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN

In [103]:
result_df = result_df.drop(['drama_name'], axis = 1)

In [110]:
result_df = result_df.fillna(0)

In [111]:
result_df.head(10)

,user_id,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,Drama,Espionage,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,0.000000,9.0,0.0,7.888889,0.0,...,0.0,0.0,7.777778,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0.0,0.0,0.0,0.0,9.500000,0.0,0.0,8.833333,0.0,...,0.0,0.0,9.250000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,10.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,5,0.0,0.0,0.0,0.0,9.000000,0.0,0.0,0.000000,0.0,...,9.0,0.0,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,6,0.0,0.0,0.0,0.0,7.600000,0.0,0.0,7.785714,0.0,...,0.0,0.0,7.740741,0.0,6.0,6.0,0.0,0.0,0.0,0.0
7,7,8.5,0.0,0.0,0.0,7.500000,0.0,0.0,7.315534,0.0,...,0.0,0.0,7.138889,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,8,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,10.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,9,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,10.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [113]:
df.head(10)

   user_id                            title  overall_score
0        0                    Sing My Crush            9.0
1        0               Happy Merry Ending            6.5
3        0                   Our Dating Sim            9.0
4        0  The Director Who Buys Me Dinner            7.0
5        0                   Unlock My Boss            8.5
6        0       Roommates of Poongduck 304            9.0
7        0                 The Golden Spoon            8.0
8        0                        Big Mouth            8.5
9        0                         Blueming            8.5
10       0                             Grid            6.5

In [114]:
df_with_genres = df.merge(result_df, on='user_id', how='left')

In [115]:
df_with_genres.head()

,user_id,title,overall_score,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,0,Sing My Crush,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
1,0,Happy Merry Ending,6.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
2,0,Our Dating Sim,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
3,0,The Director Who Buys Me Dinner,7.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
4,0,Unlock My Boss,8.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0

In [119]:
print(df_with_genres.iloc[:24, :20])

   user_id                            title  overall_score  Action  Adult  \
0        0                    Sing My Crush            9.0     8.0    0.0
1        0               Happy Merry Ending            6.5     8.0    0.0
2        0                   Our Dating Sim            9.0     8.0    0.0
3        0  The Director Who Buys Me Dinner            7.0     8.0    0.0
4        0                   Unlock My Boss            8.5     8.0    0.0
5        0       Roommates of Poongduck 304            9.0     8.0    0.0
6        0                 The Golden Spoon            8.0     8.0    0.0
7        0                        Big Mouth            8.5     8.0    0.0
8        0                         Blueming            8.5     8.0    0.0
9        0                             Grid            6.5     8.0    0.0
10       0                   Semantic Error            9.0     8.0    0.0
11       0           Twenty-Five Twenty-One            9.0     8.0    0.0
12       0               All of Us Are Dead            6.5     8.0    0.0
13       0                     Ghost Doctor            8.5     8.0    0.0
14       0                    Bad and Crazy            8.0     8.0    0.0
15       0                        Happiness            8.0     8.0    0.0
16       0                    My Sweet Dear            7.0     8.0    0.0
17       0        Dali and the Cocky Prince            8.0     8.0    0.0
18       0            Lovers of the Red Sky            6.5     8.0    0.0
19       0           The School Nurse Files            8.0     8.0    0.0
20       0           Where Your Eyes Linger            9.0     8.0    0.0
21       0                    Itaewon Class            8.0     8.0    0.0
22       1                    Sing My Crush            9.0     0.0    0.0
23       1                      Star Struck            7.5     0.0    0.0

    Adventure  Anime    Comedy  Crime  DIY     Drama  Espionage  Family  \
0         0.0    0.0  8.333333    0.0  0.0  7.807692        0.0     0.0
1         0.0    0.0  8.333333    0.0  0.0  7.807692        0.0     0.0
2         0.0    0.0  8.333333    0.0  0.0  7.807692        0.0     0.0
3         0.0    0.0  8.333333    0.0  0.0  7.807692        0.0     0.0
4         0.0    0.0  8.333333    0.0  0.0  7.807692        0.0     0.0
5         0.0    0.0  8.333333    0.0  0.0  7.807692        0.0     0.0
6         0.0    0.0  8.333333    0.0  0.0  7.807692        0.0     0.0
7         0.0    0.0  8.333333    0.0  0.0  7.807692        0.0     0.0
8         0.0    0.0  8.333333    0.0  0.0  7.807692        0.0     0.0
9         0.0    0.0  8.333333    0.0  0.0  7.807692        0.0     0.0
10        0.0    0.0  8.333333    0.0  0.0  7.807692        0.0     0.0
11        0.0    0.0  8.333333    0.0  0.0  7.807692        0.0     0.0
12        0.0    0.0  8.333333    0.0  0.0  7.807692        0.0     0.0
13        0.0    0.0  8.333333    0.0  0.0  7.807692        0.0     0.0
14        0.0    0.0  8.333333    0.0  0.0  7.807692        0.0     0.0
15        0.0    0.0  8.333333    0.0  0.0  7.807692        0.0     0.0
16        0.0    0.0  8.333333    0.0  0.0  7.807692        0.0     0.0
17        0.0    0.0  8.333333    0.0  0.0  7.807692        0.0     0.0
18        0.0    0.0  8.333333    0.0  0.0  7.807692        0.0     0.0
19        0.0    0.0  8.333333    0.0  0.0  7.807692        0.0     0.0
20        0.0    0.0  8.333333    0.0  0.0  7.807692        0.0     0.0
21        0.0    0.0  8.333333    0.0  0.0  7.807692        0.0     0.0
22        0.0    0.0  0.000000    9.0  0.0  7.888889        0.0     0.0
23        0.0    0.0  0.000000    9.0  0.0  7.888889        0.0     0.0

    Fantasy  Food  Friendship  Historical  History  Horror  Law
0       8.0   7.0         0.0         0.0      6.5     6.5  0.0
1       8.0   7.0         0.0         0.0      6.5     6.5  0.0
2       8.0   7.0         0.0         0.0      6.5     6.5  0.0
3       8.0   7.0         0.0         0.0      6.5     6.5  0.0
4       8.0   7.0         0.0         0.0      6.5     6.5  0.0
5       8.0   7.0         0.0         0.0      6.5     6.5  0.0
6       8.0   7.0         0.0         0.0      6.5     6.5  0.0
7       8.0   7.0         0.0         0.0      6.5     6.5  0.0
8       8.0   7.0         0.0         0.0      6.5     6.5  0.0
9       8.0   7.0         0.0         0.0      6.5     6.5  0.0
10      8.0   7.0         0.0         0.0      6.5     6.5  0.0
11      8.0   7.0         0.0         0.0      6.5     6.5  0.0
12      8.0   7.0         0.0         0.0      6.5     6.5  0.0
13      8.0   7.0         0.0         0.0      6.5     6.5  0.0
14      8.0   7.0         0.0         0.0      6.5     6.5  0.0
15      8.0   7.0         0.0         0.0      6.5     6.5  0.0
16      8.0   7.0         0.0         0.0      6.5     6.5  0.0
17      8.0   7.0         0.0         0.0      6.5     6.5  0.0
18      8.0   7.0         0.0         0.0      6.5     6.5  0.0
19      8.0   7.0         0.0         0.0      6.5     6.5  0.0
20      8.0   7.0         0.0         0.0      6.5     6.5  0.0
21      8.0   7.0         0.0         0.0      6.5     6.5  0.0
22      6.5   0.0         0.0         0.0      0.0     0.0  0.0
23      6.5   0.0         0.0         0.0      0.0     0.0  0.0

In [120]:
df2.head(23)

,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,Drama,Espionage,Family,...,Sports,Supernatural,Thriller,Travel,War,Youth,drama_name,kdrama_id,pop,rank
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,Sing My Crush,1.0,2238.0,1484.0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,Happy Merry Ending,32.0,1366.0,7632.0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,Our Dating Sim,51.0,569.0,2185.0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,The Director Who Buys Me Dinner,80.0,679.0,6529.0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,Unlock My Boss,84.0,1088.0,2117.0
5,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,Roommates of Poongduck 304,114.0,570.0,2870.0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,The Golden Spoon,127.0,658.0,1903.0
7,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,Big Mouth,150.0,163.0,395.0
8,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,Blueming,203.0,367.0,1715.0
9,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,Grid,223.0,1195.0,5507.0
10,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,Semantic Error,224.0,148.0,1241.0
11,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,Twenty-Five Twenty-One,225.0,79.0,122.0
12,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,All of Us Are Dead,229.0,94.0,509.0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,Ghost Doctor,236.0,345.0,341.0
14,1,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,Bad and Crazy,247.0,171.0,423.0
15,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,Happiness,276.0,100.0,81.0
16,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,My Sweet Dear,287.0,659.0,7633.0
17,0,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,Dali and the Cocky Prince,300.0,239.0,562.0
18,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,Lovers of the Red Sky,310.0,372.0,1413.0
19,0,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,The School Nurse Files,442.0,521.0,7137.0
20,0,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,Where Your Eyes Linger,496.0,152.0,2300.0
21,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,Itaewon Class,540.0,19.0,595.0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,Sing My Crush,1.0,2238.0,1484.0

In [121]:
df_with_genres.head()

,user_id,title,overall_score,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,0,Sing My Crush,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
1,0,Happy Merry Ending,6.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
2,0,Our Dating Sim,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
3,0,The Director Who Buys Me Dinner,7.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
4,0,Unlock My Boss,8.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0

In [123]:
df2.head()

,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,Drama,Espionage,Family,...,Sports,Supernatural,Thriller,Travel,War,Youth,drama_name,kdrama_id,pop,rank
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,Sing My Crush,1.0,2238.0,1484.0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,Happy Merry Ending,32.0,1366.0,7632.0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,Our Dating Sim,51.0,569.0,2185.0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,The Director Who Buys Me Dinner,80.0,679.0,6529.0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,Unlock My Boss,84.0,1088.0,2117.0

In [130]:

last_three = df2.columns[-4:].tolist()


other_cols = df2.columns[:-4].tolist()


item_df = df2[last_three + other_cols]

In [135]:
item_df.head()

,drama_name,kdrama_id,pop,rank,Action,Adult,Adventure,Anime,Comedy,Crime,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,Sing My Crush,1.0,2238.0,1484.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,Happy Merry Ending,32.0,1366.0,7632.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,Our Dating Sim,51.0,569.0,2185.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,The Director Who Buys Me Dinner,80.0,679.0,6529.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Unlock My Boss,84.0,1088.0,2117.0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0

In [132]:
user_df = df_with_genres.drop(['title'], axis = 1)

In [133]:
user_df.head()

,user_id,overall_score,Action,Adult,Adventure,Anime,Comedy,Crime,DIY,Drama,...,Mystery,Psychological,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Youth
0,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
1,0,6.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
2,0,9.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
3,0,7.0,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0
4,0,8.5,8.0,0.0,0.0,0.0,8.333333,0.0,0.0,7.807692,...,6.5,0.0,8.269231,0.0,0.0,8.0,7.5,0.0,0.0,0.0

In [136]:
item_df.to_csv('item_train.csv', index=False)